{% extends 'layouts/theme.njk' %}
{% set pageType = 'Page' %}
{% block content %}

    <section>
      <div class="D(flex) Fp(wrap) Mxw(1024x)">
        <div class="F(row) M(1m)"><h1>{{ title }}</h1></div>
        <div class="F(column) M(1m)">Column</div>
        <div class="F(colspan) M(1m)">Column</div>
      </div>
    </section>

{% include "./assets.njk" %} 
{% endblock %}
{{ content | safe }}