<section class="section">
    <div class="grid columns-1 mxw-768"> 
        <ul class="pappersheet">
        {%- for affiliate in network.affiliates -%} 
            <li>
                <a 
                    href="{{ affiliate.url | url }}" 
                    title="promotion link" 
                    target="_blank"
                    rel="noopener noreferrer nofollow" 
                >
                    {{affiliate.name}}
                </a>
                <br>
                {# <small class="textColor-gray">
                    {{affiliate.description}}
                </small> #}
            </li>
        {%- endfor -%} 
        </ul> 
    </div>
</section>
{{ content | safe }}