{% set css %}
  {% include "./styles.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<div>

    <script type="text/javascript">let submitted = false;</script>

    <iframe 
      name="hidden_iframe" 
      id="hidden_iframe" 
      style="display:none;"      
      onload="if(submitted) { window.location='/247-installment-personal-loans/thank-you/'; }"
    ></iframe> 


    <form 
      action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdubntRIaePV4z4_1dhOY2FDtueX-JeOOzZgoEPUaPfAfZeIw/formResponse" 
      method="POST" 
      target="hidden_iframe" 
      onsubmit="return handleSubmit();"
      class="form-google"
      name="google"     
    >   




        <input type="hidden" value="{{ title }}"  name="entry.922257189" />
        <input type="hidden" value="{{ network }}"  name="entry.660497654"  />
        <input type="hidden" value="{{ category }}"  name="entry.1939604821"  />
        <input type="hidden" id="navigator" name="entry.1659319204"  />
        <input type="hidden" id="ip" name="entry.93550288"  />
        <input type="hidden" id="city" name="entry.45700086"  />
        <input type="hidden" id="state" name="entry.1807297341"  />
        <input type="hidden" id="recipient" name="entry.636882482" />

        <div class="horizontal-between form_field">
            <label for="entry.544075575" class="hidden-by-ux">Name</label>
            <input 
            type="text" 
            placeholder="Name" 
            id="name" 
            required 
            name="entry.544075575"
        >
          <svg id="username" fill="#dddd" style="margin-left:8px" width="32px" height="32px">
              <use href="/icons/essentials.svg#icon-username"></use>
          </svg>
        </div>

        <div class="horizontal-between form_field">
            <label for="entry.1557779281" class="hidden-by-ux">Email</label>
            <input 
            type="text" 
            placeholder="Email" 
            id="email" 
            required 
            name="entry.1557779281"
        >
          <svg id="usermail" fill="#dddd" style="margin-left:8px" width="32px" height="32px">
              <use  href="/icons/essentials.svg#icon-usermail"></use>
          </svg>
        </div>

    <div class="animated fadeInDown">
      <small id="formStatus" class="textColor-orange"> 
       {{status}}
      </small>
    </div>

        <div style="position:relative;">  
          <p id="response" class="animated fadeInDown faster"></p> 
        </div>

        <div class="button-component">
            <span>
                <span class="callout-right" style="font-size:3rem;margin-right:8px;">👉</span>
            </span>
            <button 
                onclick="validateUser()"
                type="submit" 
                id="buttonSubmit" 
                class="button {{ buttonClass }}"
            >
            {{ buttonGetEmailText }}
                    <svg fill="{{ buttonIconColor }}" style="margin-left:8px" width="32px" height="32px">
                        <use href="/icons/essentials.svg#icon-arrow-right"></use>
                    </svg>
            </button>
            <span>
                <span class="callout-left" style="font-size:3rem;margin-left:8px;">👈</span>
            </span>
        </div>

        <div class="horizontal-center ">
          {% include "partials/brands/brands.njk" %}
        </div>
    </form>

</div>

{% set js %}
  {% include "./scripts.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>


