<aside> 
    <nav>
    {% set pages = collections.all | eleventyNavigation %}
        <ul>
        {% for item in pages %}
        <li>   
            <a  href="{{ item.url | url }}"
            {% if item.url == page.url %} 
                aria-current="page"
            {% endif %} 
            >
            {{ item.title }}
            </a>
        </li>
        {% endfor %}
        </ul>
    </nav>
</ul>
</aside>