<aside> 
    {% set pages = collections.all | eleventyNavigation %}
    <nav role="primary-navigation">
        <input name="toggle" id="toggle" type="checkbox" hidden />
        <ul id="menu">
        {% for item in pages %}
            <li>   
                <a  href="{{ item.url | url }}"
                {% if item.url == page.url %} 
                    aria-current="page"
                {% endif %} 
                >
                {{ item.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
</aside>