.pricing-table {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  box-shadow: var(--box-shadow-6);
}

.plan-items {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;

}

.plan-items .price {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.selected_plan {
  transform: scale(1.1);
}

.plan-items .price span:nth-child(1) {
  font-size: 16px;
  margin-bottom: 1rem;
}

.plan-items .price span:nth-child(2) {
  font-size: 3rem;
  font-family: var(--font-family-2);

}

.plan-items .price span:nth-child(3) {
  font-size: 14px;
}

.active_price {
  background: var(--color-primary) !important;
}

.inactive_price {
  background: var(--color-tertiary) !important;
}

.plan-items .plan {
  font-size: 2rem;
  font-family: var(--font-family-2);
}

.plan-items .price {
  font-size: 2rem;
  font-family: var(--font-family-1);
}


.plan-items .offer a {
  margin: 1rem auto;
  color: var(--color-white)!important;
  border: 1px solid var(--color-white);
  padding: 8px 16px;
  min-width: 150px;
}



.features-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 0;
}


.features-item {
  color: var(--color-gray);
  font-size: 14px;
  padding: 12px 0;
  width: 100%;
  border-bottom: 0.5px solid #cbcbcb68;
}

.features-item:last-child {
  border-bottom: none;
}


.included-item {
color: var(--color-primary);
}