<div class="pricing-table animated onscroll">
    <ul class="plan-items inactive_price">
        <li class="plan-item plan">Standard</li>
        <li class="plan-item price"><span>$</span> <span>100</span> <span>/Month</span></li>
        <li class="plan-item offer">    
            <a href="/get-a-quote">
                Get A Free Demo
            </a>
        </li>
    </ul>
    <ul class="features-items">
        <li class="features-item included-item">Website Maintenance</li>
        <li class="features-item included-item">(1) Revisions</li>
        <li class="features-item">Online Brand Management</li>
        <li class="features-item">Social Media Posts</li>
        <li class="features-item">Google Adwords Campaign</li>
        <li class="features-item">Facebook Ads Campaign</li>
    </ul>
</div>



<div class="pricing-table selected_plan animated onscroll">
    <ul class="plan-items active_price">
        <li class="plan-item plan">Basic</li>
        <li class="plan-item price"><span>$</span> <span>300</span> <span>/Month</span></li>
        <li class="plan-item offer">    
            <a href="/get-a-quote">
                Get A Free Demo
            </a>
        </li>
    </ul>
    <ul class="features-items">
        <li class="features-item included-item">Website Maintenance</li>
        <li class="features-item included-item">(3) Revisions</li>
        <li class="features-item included-item">Online Brand Management</li>
        <li class="features-item included-item">(4) Social Media Posts</li>
        <li class="features-item included-item">(1) Google Adwords Campaign</li>
        <li class="features-item">Facebook Ads Campaign</li>
    </ul>
</div>


<div class="pricing-table animated onscroll">
    <ul class="plan-items inactive_price">
        <li class="plan-item plan">Business</li>
        <li class="plan-item price"><span>$</span> <span>500</span> <span>/Month</span></li>
        <li class="plan-item offer">    
            <a href="/get-a-quote">
                Get A Free Demo
            </a>
        </li>
    </ul>
    <ul class="features-items">
        <li class="features-item included-item">Website Maintenance</li>
        <li class="features-item included-item">(3) Revisions</li>
        <li class="features-item included-item">Online Brand Management</li>
        <li class="features-item included-item">(8) Social Media Posts</li>
        <li class="features-item included-item">(1)  Custom Google Adwords Campaign</li>
        <li class="features-item included-item">(1) Facebook Ads Campaign</li>
    </ul>
</div>

