{% set css %}
  {% include "./styles.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<p class="clock_offer"> *This offer expires in... </p>
<div id="clock_counter">
  <div class="clock_item">
      <p class="days"></p>
      Days
  </div>
  <div class="clock_item">
      <p class="hours"></p>
      Hours 
  </div class="clock_item">
  <div class="clock_item">
      <p class="minutes"></p>
      Minutes
  </div>
  <div class="clock_item">
      <p class="seconds"></p>
      Seconds
  </div>
</div>

{% set js %}
  {% include "./scripts.js" %} 
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
