.clock-default {
    --clock-text-color: #000;
    --clock-number-color: gray;
    --clock-box-border-color: gray;
    --clock-box-bg-color: rgba(255, 255, 255, 0.317);
    --clock-offer-text-color: orange;
}     

.clock-green {
    --clock-text-color: #fff;
    --clock-number-color: #00ff00;
    --clock-box-border-color: #fff;
    --clock-box-bg-color: rgba(0, 128, 0, 0.297);
    --clock-offer-text-color: #00ff00;
}

.clock-white {
    --clock-text-color: #fff;
    --clock-number-color: #fff;
    --clock-box-border-color: #fff;
    --clock-box-bg-color:  rgba(255, 255, 255, 0.379);
    --clock-offer-text-color: #fff;
}


.clock_offer{
    text-align: center;
    color:var(--clock-offer-text-color);
}

#clock_counter {
    display: flex;
	text-align: center;
    align-items:center; 
    justify-content:center;
}

#clock_counter div {
    font-size: 13.5px!important;
    color:var(--clock-text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 2px;
    padding: 2px;
    min-width: 70px;
    height: 70px;
    text-align:center; 
    background: var(--clock-box-bg-color);
    box-shadow: var(--box-shadow-6);
    border: 1px solid var(--clock-box-border-color);
}

#clock_counter p {
    margin: 0;
    padding: 0;
    color:var(--clock-number-color);
    font-size: 1.6rem;
}


@media(min-width:768px) {
    
    #clock_counter div {
        margin: 8px;
        padding: 4px;
        min-width: 100px;
        height: 100px;

    }
    
    #clock_counter p {
        font-size: 2rem;
    }
}


