{% set css %}
  {% include "./styles.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<div class="accordion">
    {%- for LANDING in faq.LANDINGS -%}
    <button class="accordion_button">
        {{ LANDING.Q }}
    </button>
    <p class="accordion_panel">
        {{ LANDING.A }}
    </p>
    {%- endfor -%}
</div> 


{% set js %}
  {% include "./scripts.js" %} 
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
