{% set css %}
  {% include "./lead.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<form 
    class="form-landing"
    id="formLanding" 
    name="Lead" 
    data-netlify="true" 
    data-netlify-honeypot="bot-field"
    onsubmit="return false"
    >
    <div class="animated fadeInDown">
      <small id="formStatus" class="textColor-orange"> 
       {{status}}
      </small>
    </div>
   
    <div style="position:relative;">  <p id="response" class="animated fadeInDown faster"></p> </div>
    <input type="hidden" name="form-name" value="Lead" />
    <input type="hidden" name="Email-List" value="{{ title }}" />
    <input type="hidden" name="Network" value="{{ network }}" />

    <label for="name" class="hidden-by-ux">Name</label>
    <input 
        type="text"
        id="name" 
        name="name" 
        placeholder="John Doe"
        minlength="2" 
        maxlength="32"
        title="Name"
        required
    />
    <label for="email" class="hidden-by-ux">Email</label>
    <input 
        type="email"
        name="email"  
        placeholder="john@mail.com"
        minlength="6" 
        maxlength="32"
        title="Email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"

    />
    <div class="button-component">
       <span>
          <span class="callout-right" style="font-size:3rem;margin-right:8px;">👉</span>
       </span>
          <button 
            type="submit" 
            id="buttonSubmit" 
            onclick="handleValidation()"
            class="button {{ buttonClass }}"
          >
          {{ buttonGetEmailText }}
                <svg fill="{{ buttonIconColor }}" style="margin-left:8px" width="32px" height="32px">
                    <use href="/icons/essentials.svg#icon-arrow-right"></use>
                </svg>
          </button>
        <span>
          <span class="callout-left" style="font-size:3rem;margin-left:8px;">👈</span>
        </span>
    </div>
</form>

{% set js %}
  {% include "./lead.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>