<div class="content-width">
  <div class="slideshow">
    <div class="slideshow-items">
        {%- for SLIDESHOW in collections.SLIDESHOWS -%}
        <div class="item">
            <div class="item-image-container">
                <img class="item-image" 
                src="{{ SLIDESHOW.data.IMGURL }}" 
                alt="{{ site.tagline }}"
                title="{{ site.tagline }}"
                 />
            </div>
            <div class="item-header">
                <span class="vertical-part"><b>{{ SLIDESHOW.data.NAME }}</b></span>
            </div>
            <div class="item-description">
                <span class="vertical-part"><b>{{ SLIDESHOW.data.DESCRIPTION }}</b></span>
            </div>
        </div>
        {%- endfor -%} 
        <div class="controls">
            <ul>
                <li class="control" data-index="0"></li>
                <li class="control" data-index="1"></li>
                <li class="control" data-index="2"></li>
            </ul>
            <br>
            <div class="ml-auto">
                <a href="/portfolio" class="textColor-primary">
                    SEE ALL PROJECTS  &#8594;
                </a>
            </div>
        </div>
    </div>
  </div>
</div>
