{# <section class="section">
  <div class="grid columns-1">
      <h2 class="">Frequently Asked Questions</h2>
  </div>
</section> #}

{{ content | safe }}

{% set js %}
  {% include "./scripts.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
