{% if postListItems.length %}
<ul class="pappersheet post-list" reversed>
  {% for item in postListItems %}
    {% if item.date.getTime() <= global.now %}
      <li style="padding:1rem;border-bottom:0.5px #dddd solid;">
        <a href="{{ item.url | url }}" rel="bookmark">
            <h3 class="textColor-primary animated onscroll">{{ item.data.title }}</h3>
            <p class="textColor-gray animated onscroll">{{ item.data.excerpt }}</p>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
{{ content | safe }}
{# {% include "partials/post/pagination.njk" %} #}