{% set css %}
  {% include "./styles.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

{% set js %}
  {% include "./scripts.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
