{% extends 'layouts/theme.njk' %}
{% set pageType = 'Page' %}
{% block content %}
    <section>
      <div class="D(flex) Fp(wrap) Mxw(1024x)">
        <div class="F(colspan)">
          <article>
            <p class="Fs(2m)">{{ content | safe }}</p>
            <hr>
            {# {% markdown '/src/_includes/page/homepage/introduction.md' %} #}
            <hr>
            {# {% markdown '/src/_includes/page/classes/md.md' %} #}
          <article>
        </div>
        <div class="F(column)">
          <nav class="P(1m)" style="position:sticky;top:0;" aria-label="Secondary Menu"> 
            <h3>Table of Content</h3>
            <ul>
            {% for classes in indexing.classes %}
                <li>
                    <a class="Fs(14x)"
                    href="{{ classes.url }}"}>{{ classes.text }}</a>
                </li>
            {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </section>
{% include "./assets.njk" %} 
{% endblock %}
