{% set pageType = 'Page' %}
{% set postListItems = collections.posts %}


<!doctype html>
<html lang="en" class="no-js">

    {% include "partials/head/head.njk" %}
    {% block head %}{% endblock head %}

    <body style="min-height:70vh;">

        {% include "partials/navigation/navigation.njk" %}
        {% block nav %}{% endblock nav %}

        {% include "page/blog/header.njk" %}
        {% block header %}{% endblock header %}

        <main id="main-content" tabindex="-1">

            {% include "page/blog/content.njk" %}
            {% block content %}{% endblock content %}

        </main>

        {% include "partials/footer/footer.njk" %}
        {% block footer %}{% endblock footer%}
        
    </body>
</html>
