{% set pageType = 'Page' %}
<!doctype html>
<html lang="en" class="no-js">
    {% include "partials/head/head.njk" %}
    {% block head %}{% endblock head %}
    <body style="min-height:75vh;">
        {% include "page/landing/landing-v3/header.njk" %}
        {% block header %}{% endblock header %}
        <main id="main-content" tabindex="-1">
            {% include "page/landing/landing-v3/content.njk" %}
            {% block content %}{% endblock content %}
        </main>
        {% include "partials/footer/footer-v1.njk" %}
        {% block footer %}{% endblock footer%}
    </body>
</html>
