<!DOCTYPE html>
<html lang="en" class="no-js">
    {% include "partials/head/head.njk" %}

</head>
<body>
    <div class="grid sidebar cols(menubar) gap(0) W(100%) Mxw(1268x) P(1m)">
        {% include "partials/header/header.njk" %}
        {% include "partials/navigation/sidenav.njk" %}
        <main class="Bdt(gray)" id="main-content" tabindex="-1"> 
            <h1 class="C(primary)"> {{ title }} </h1>
            {% block content %}{% endblock content %}
        </main>
        {% include "partials/footer/footer.njk" %}
    </div>
</body>
</html>