<!doctype html>

<html lang="en" class="no-js">

    {% include "partials/head/head.njk" %}

</head>

<body>

    <div class="mxw(1268x) grid cols(menubar) gap(0) w(100%) P(1m)">

        {% include "partials/header/header.njk" %}

        {% include "partials/navigation/sidenav.njk" %}

        <main id="main-content" tabindex="-1"  style="border-top: #dddd solid 1px;"> 
        
            {% block content %}{% endblock content %}

        </main>

        {% include "partials/footer/footer.njk" %}

    </div>

</body>

</html>

