{% set css %}
  {% include "./styles.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>


<div id="social-proof">
    <img class="social-proof-avatar" src="" alt="avatar">
    <svg width="32px" height="32px" fill="var(--color-darkgray)">
        <use href="/icons/essentials.svg#icon-quotes"></use>
    </svg>
    <div class="social-proof-meta">
        <p style="font-size:15px; color:var(--color-darkgray);">
            Customer Review
        </p>
        <p class="social-proof-name"></p>
        <p class="social-proof-msg"></p>
        <p style="font-size:16px; color:gold; display:flex;">
            <svg width="32px" height="32px">
                <use href="/icons/essentials.svg#icon-star"></use>
            </svg>
            <svg width="32px" height="32px">
                <use href="/icons/essentials.svg#icon-star"></use>
            </svg>
            <svg width="32px" height="32px">
                <use href="/icons/essentials.svg#icon-star"></use>
            </svg>
            <svg width="32px" height="32px">
                <use href="/icons/essentials.svg#icon-star"></use>
            </svg>
            <svg width="32px" height="32px">
                <use href="/icons/essentials.svg#icon-star"></use>
            </svg>
        </p>
        {# <p class="social-proof-counter">About <span class="counter"></span> mins ago</p> #}
    </div>
</div>


{% set js %}
  {% include "./scripts.js" %} 
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
