#social-proof {
	display: none;
	max-width: 100%;
	width: 356px;
	background: #fafafa;
	border: 1px solid #ddd;
	padding: 12px 8px;
	border-radius: 4px;
	box-shadow: 0px 0px 32px -5px rgba(158, 158, 158, 1);
	position: fixed;
	left: -500px;
	bottom: 20px;
	z-index: 9999999;
}



@media(min-width: 1024px) {
	#social-proof {
		display: flex;

		width: 400px;
	}
}

.social-proof-meta {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.social-proof-meta p {
	margin: 0;
	padding: 4px 6px;
}


.social-proof-avatar {
	display: flex;
	width: 75px;
	height: 75px;
	margin: 16px;
	border-radius: 64px;
	object-fit: contain;

}


.social-proof-name {
	font-weight: 600;
	font-size: 1rem;
}

.social-proof-msg {
	font-size: 12.5px;
	padding: 8px 4px;
}

.social-proof-counter {
	font-size: 12.5px;
	color: gray;
}

.social-proof-verify {
	display: flex;
	justify-content: flex-end;
}