{% extends 'layouts/theme.njk' %}
{% set sectionOne = 'INTRODUCTION' %}
{% set sectionTwo = 'WHY USE ATOMIC CSS' %}
{% set sectionThree = 'HOW TO USE ATOMIC CSS' %}
{% block content %}
    <section>
      <div class="D(flex) Fp(wrap) Mxw(1024x)">
        <div class="F(colspan)">
          <article>
            <div id="preface" class="Fs(19x)">
                {{ content | safe }}
            </div>
   
            <div id="{{ sectionOne }}">
              {% markdown '/src/_includes/page/homepage/introduction.md' %}
            </div>
            <div id="{{ sectionTwo }}">
              {% markdown '/src/_includes/page/homepage/md.md' %}
            </div>
            <div id="{{ sectionThree }}">
              {% markdown '/src/_includes/page/homepage/md.md' %}
            </div> 
          <article>
        </div>
        <div class="F(column)">
          <nav class="P(1m)" style="position:sticky;top:0;" aria-label="Secondary Menu"> 
            <h3>Table of Content</h3>
            <ul>
                <li>
                    <a class="Fs(14x)" href="#{{ sectionOne }}">{{ sectionOne }}</a>
                </li>
                <li>
                    <a class="Fs(14x)" href="#{{ sectionTwo }}">{{ sectionTwo }}</a>
                </li>
                <li>
                    <a class="Fs(14x)" href="#{{ sectionThree }}">{{ sectionThree }}</a>
                </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
{% include "./assets.njk" %} 
{% endblock %}
