*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family:-apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe Emoji","Helvetica Neue";
}

html {
	font-family: var(--font-family-1), var(--font-family-2), var(--font-family-3);
	overflow-x: hidden;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	line-height: 1.6;
	font-size: 14.5px;
	color: #000000;
	background: #000000;
	--max-width-page: 1268px;
	--max-width-navigation: 1268px;
}



html {
	
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	margin: 0;
	font-family: var(--font-family-3);
	font-display: swap;
	background: var(--atomic-light);
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

a {
	font-family: var(--font-family-3);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	opacity: 0.9;
}

p {
	font-family: var(--font-family-3);
	padding: 0;
}

ul {
	font-family: var(--font-family-3);
	/* list-style: none; */
	margin: 0;
}

ul li {
	margin: 4px 0 4px 0;
}

nav ul {
	list-style: none;
	margin: 0;
}

nav ul li {
	margin: 0;
	margin-right: 8px;
}


nav ul li a {
	color: var(--atomic-link);
}

nav ul li a:hover {
	color: var(--atomic-link-hover);
}

nav ul li a:active {
	color: var(--atomic-link-active);
}

main {
	/* min-height: 100%; */
	outline: none;
	
}

small {
	font-size: 13.5px;
	font-weight: 600;
}

[hidden] {
	display: none;
}

table,
pre,
code {
	width: 100% !important;
	height: 100% !important;
}

h2 {
	grid-column: 1 / -1;
}



/* .Hvc\(1\):hover 	{ color: var(--atomic-primary) }
.Hvc\(3\):hover 	{ color: var(--atomic-seconday) }
.Hvc\(3\):hover 	{ color: var(--atomic-tertiary) }
.Hvc\(black\):hover	{ color: var(--atomic-black) }
.Hvc\(gray\):hover 	{ color: var(--atomic-gray) }
.Hvc\(blue\):hover 	{ color: var(--atomic-blue) }
.Hvc\(red\):hover 	{ color: var(--atomic-red) }
.Hvc\(green\):hover	{ color: var(--atomic-green) }
.Hvb\(1\):hover 	{ background-color: var(--atomic-primary) }
.Hvb\(3\):hover 	{ background-color: var(--atomic-seconday) }
.Hvb\(3\):hover 	{ background-color: var(--atomic-tertiary) }
.Hvb\(black\):hover	{ background-color: var(--atomic-black) }
.Hvb\(gray\):hover 	{ background-color: var(--atomic-gray) }
.Hvb\(blue\):hover 	{ background-color: var(--atomic-blue) }
.Hvb\(red\):hover 	{ background-color: var(--atomic-red) }
.Hvb\(green\):hover	{ --background-color: var(--atomic-green) } */





/* 
.Mh\(100p\) 	{ min-height: var(--atomic-100) }
.Mh\(200p\) 	{ min-height: var(--atomic-200) }
.Mh\(300p\) 	{ min-height: var(--atomic-300) }
.Mh\(400p\) 	{ min-height: var(--atomic-400) }
.Mh\(500p\) 	{ min-height: var(--atomic-500) }
.Mw\(100p\) 	{ min-width: var(--atomic-100) }
.Mw\(200p\) 	{ min-width: var(--atomic-200) }
.Mw\(300p\) 	{ min-width: var(--atomic-300) }
.Mw\(400p\) 	{ min-width: var(--atomic-400) }
.Mw\(500p\) 	{ min-width: var(--atomic-500) } */