#footer {
	width: 100%;
	background: var(--color-red) !important;
}

#footer ul {
	list-style: none;
}

#footer a {
	font-weight: 600;
	text-decoration: none;
	transition: ease-in 0.3s;
	color: var(--color-white);
}

#footer a:hover {
	opacity: 0.9;
	text-decoration: underline;
	color: var(--color-primary) !important;
}

#footer a:active {
	color: var(--color-primary);
}

#footer p {
	margin: 0;
}

.footer_top {
	max-width: var(--max-width-navigation);
	min-height: auto;
	height: 100%;
	/* background: url("/images/abstract_9.png");
	background-position:top right ;
	background-size: cover;
	background-repeat: no-repeat; */
	min-height: 300px;
	padding-top: 4rem;
	padding-bottom: 2rem;
	margin: 0 auto;
	width: 96%;
}

.footer_bottom {
	background: var(--color-light) !important;
}

.footer_bottom * {
	color: var(--color-white) !important;

}

.footer_bottom a {
	color: var(--color-primary) !important;

}

.footer_menu * {
	font-weight: 300;
}

.footer_menu h3 {
	margin: 0px;
	margin-top: 1rem;
	font-size: 32px;
	padding: 0;
}

.footer_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;

}

.footer_menu ul li {
	margin: 0;
	padding: 0;
}

.footer_menu ul li a {
	font-size: 16px;
	color: var(--color-link);
	text-decoration: underline;
}

.disclaimer_menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	max-width: var(--max-width-navigation);
	padding: 16px 0;
	font-size: 14.5px;
}

.disclaimer_menu li {
	margin: 0rem;
}

@media(min-width:1024px) {

	.disclaimer_menu {
		flex-direction: row;
		justify-content: flex-start;

	}

	.disclaimer_menu li {
		margin-right: 1rem;
	}
}













#footer .title_headline,
#footer .title_subheadline {
	color: white;
}


.footer_top ul {
	margin: 0;
	padding: 0;
}

.footer_top ul li {
	margin: 0;
	padding: 0;
	overflow-wrap: normal;
}

.footer_top a {
	color: var(--color-white);
	font-size: 14.5px;
	/* letter-spacing: 0.5px; */
	line-height: 1.2;
	overflow-wrap: normal;
	word-wrap: none;
}


/* .footer_top a:hover,
.footer_top a:active {
	opacity: 1 !important;
	color: var(--color-orange) !important;
} */


.footer_phonenumber {
	margin: 0;
	padding: 0;
	/* margin-bottom: 1rem; */
	font-size: 1.2rem !important;
	font-family: var(--font-family-2);
	color: var(--color-white);
	line-height: 1;
	overflow-wrap: normal;
}


.footer_map {
	width: 100%;
	min-height: 200px;
	max-height: 250px;
}


.callus {
	display: flex;
	align-items: center;
}


.footer_phone_or_online {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* height: 100%; */
}

.footer_phone_or_online .button {
	margin-top: 48px;
	margin-bottom: 48px;
}


.footer_bottom {
	margin-bottom: 56px;
	width: 100%;
	background: var(--color-black) !important;

}

@media(min-width:1024px) {
	.footer_bottom {
		margin: 0 auto;
		width: 100%;
	}
}




.nav_bottom_list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 1rem 0;
}

.nav_bottom_list li {
	margin-right: 1rem;
}

.nav_bottom_list li:last-child {
	margin-right: 0;
}

.copyright {
	padding: 8px 0;
	text-align: center;
}

@media(min-width:1024px) {
	.nav_bottom_list {
		justify-content: flex-start;
		flex-direction: row;

	}
}

@media(min-width:1268px) {
	.copyright {
		text-align: right;
	}
}



.footer_container {
	max-width: var(--max-width-page);
	margin: auto;
	width: 96%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}



.nav_footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	margin: auto;
}

@media(min-width:1268px) {

	.nav_footer {
		justify-content: flex-start;
	}
	.nav_footer a {
		margin-left: 1rem;
	}
}


.disclosure {
	max-width: 768px;
	margin: auto;
	color:gray;
	font-size: 12.5px;
	text-transform: uppercase;
}



.footer-v1 {
	padding: 2rem 0;
	background: var(--color-light);
}