<footer class="col(-1) Bdt(gray)">
    <div class="G(c) H(100%)">
        <small class="Pt(1r) Pb(1r)"> © <span id="currentYear"></span> Copyright {{ site.name }}. All Rights Reserved</small>
    </div>
</footer>

<el-loading duration="0.8" background="var(--atomic-primary)"></el-loading>

<script>document.getElementById("currentYear").innerHTML = new Date().getFullYear();</script>

<script src="/static/js/app.js" defer></script>

{% include "src/_includes/inline/scripts.njk" %} 

{% include "src/_includes/partials/scripts.njk" %} 

<!-- Service-Worker -->
<script>
if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
    navigator.serviceWorker.register('/service-worker.js');
    });
}
</script>

<!-- netlify-identity -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async defer></script>

