<!DOCTYPE html>
<html lang="en">
<head>
    <title>Atomicx</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/src/css/stylesheet.css">
    <link rel="stylesheet" href="/src/css/grid.css">
    <link rel="stylesheet" href="/src/css/atomicx-0.1.css">
</head>

<body class="M(0) grid cols(menubar) gap(0) w(100%) mxw(100%)">
    <header class="col(-1) Bg(light) D(flex) Ai(c) w(100%)" style="border-bottom: #dddd solid 1px;"> 
        <div class="D(flex) Jc(sb) Ai(c) Ml(1m) Mr(1m) W(100%)">
            
            <h1 class="D(flex) Ai(c) C(black) Ff(1) Fs(24x)">
                <img src="/src/images/atomic.svg" alt="Logo" width="50" height="50"> ATOMIC
            </h1>
            <div class="">Github</div>
        </div>
    </header>
    <aside class="Bg(light) tabbed" style="border-right: #dddd solid 1px;">  
        <nav class="tabs">
            <ul class="tab D(flex) Fd(col)" style="list-style:none;">
                <li>
                    <button
                        id="tabOpen"
                        class="tabItems" 
                        onclick="openTab(open, 'tab-1')"
                        >
                        Getting Started
                    </button>
                </li>
                <li>
                    <button 
                        class="tabItems" 
                        onclick="openTab(open, 'tab-2')"
                        >
                        Components
                    </button>
                </li>
                <li>
                    <button 
                        class="tabItems" 
                        onclick="openTab(open, 'tab-3')"
                        >
                        Classes
                    </button>
                </li>
            </ul>
        </nav>       
    </aside>
    <main class="Bg(light) main-content"> 
        
        <section id="tab-1" class="tabContent" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
            <h4>Gangsta lipsum</h4>
			<p>Da bomb ipsizzle dolizzle sit amizzle, consectetuer adipiscing fo shizzle. Nullam yo velizzle, aliquet volutpizzle, fo shizzle yippiyo, for sure vizzle, arcu. Black eget fo shizzle. Sizzle erizzle. Rizzle at dolizzle dapibizzle turpis tempizzle izzle. Maurizzle crackalackin nibh et check out this. Cool check it out tortizzle. Break it down bling bling rhoncizzle my shizz. Fo hizzle rizzle platea boom shackalack. Gangsta dapibus. Owned tellus urna, pretizzle black, mattizzle ac, eleifend for sure, nunc. Owned suscipizzle. Integizzle sempizzle shiz sed purizzle.</p>
        </section>
        <section id="tab-2" class="tabContent" role="tabpanel" tabindex="0" aria-labelledby="tab-2" hidden>
            <h4>Zombie lipsum</h4>
			<p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. </p>
        </section>
        <section id="tab-3" class="tabContent"" role="tabpanel" tabindex="0" aria-labelledby="tab-3" hidden>
            <h4>New age bullshit</h4>
			<p>Our conversations with other pilgrims have led to an awakening of pseudo-astral consciousness. Who are we? Where on the great myth will we be re-energized? We are at a crossroads of complexity and stagnation.</p>
			<p>Eons from now, we dreamers will exist like never before as we are aligned by the cosmos. We are being called to explore the stratosphere itself as an interface between nature and complexity. We must learn how to lead infinite lives in the face of bondage.</p>
        </section>
    </main>
    <footer class="col(-1) Bg(light)" style="border-top: #dddd solid 1px;">
        <small class="C(black) Pt(1r) Pb(1r)"> @ copyright 2020 </small>
    </footer>
</body>
<script>
    const openTab = (open, attr) => {
        const tabContent = document.querySelectorAll(".tabContent")
        const tabItems = document.querySelectorAll(".tabItems")
        const tabOpen = document.querySelector("#tabOpen")
        const tabAttr = document.getElementById(attr)
        tabContent.forEach(function(content){
            content.style.display = "none"
        })
        tabItems.forEach(function(items){
            items.className = items.className.replace(" tab_active", "")

        })
        tabAttr.style.display = "block"
        open.currentTarget.className += " tab_active"
        open.currentTarget.setAttribute("aria-selected", true)
    };
    tabOpen.click();
</script>
<script src="/src/js/scripts.js"></script>
</html>
