<section class="section">
    <div class="grid columns-1 mxw-768"> 
        {% include "partials/post/post-list.njk" %}
        {% include "partials/post/pagination.njk" %}
    </div>
</section>
{{ content | safe }}