<header class="header header_base">
    <div class="grid columns-1">
        <div class="column animated onscroll center">
            <h1 class="animated fadeInUp">
                {{title}}
            </h1>
        </div>
    </div>
</header>
{{ content | safe }}