.header.landing-v1 {
	height: 100%;
	min-height: 100vh;
	background: #000000;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


.header.landing-v1 .title {
	color: #00ff00;
	text-transform: uppercase;
}

.header.landing-v1 .subtitle {
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	color:#c4d7c4;
}

.header.landing-v1 .lead {
	color:#c4d7c4;
}

.header.landing-v1 .action {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;  
}
