@charset "UTF-8";
*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--atomic-primary: #7eabff;
	--atomic-secondary: #8A2BE2;
	--atomic-tertiary: #8FBC8F;
	--atomic-orange: #FF6347;
	--atomic-red: #B22222;
	--atomic-maroon:#800000;
	--atomic-yellow: #FFD700;
	--atomic-lime: #66FF33; 
	--atomic-green: #009900; 
	--atomic-cyan:#66FFFF;
	--atomic-blue: #0099FF ;
	--atomic-indigo: #330066;
	--atomic-violet: #EE82EE;
	--atomic-lavender: #CC00CC;
	--atomic-purple:#800080;
	--atomic-pink:#FFC0CB;
	--atomic-lightgray: #f5f5f5;
	--atomic-gray: #C0C0C0;
	--atomic-darkgray:#708090;
	--atomic-dark: #2e353c;
	--atomic-light: #f7f7f7;
	--atomic-white: #ffffff;
	--atomic-black: #000000;
	--atomic-transparent: transparent;
	--atomic-link: #3366CC;
	--atomic-link-hover: #009df9;
	--atomic-link-active: #037dc4;
	--atomic-font-family-primary: 'Space Grotesk', sans-serif;
	--atomic-font-family-1: Arial,Helvetica,sans-serif;
	--atomic-font-family-2: Tahoma,Verdana,sans-serif;
	--atomic-font-family-3: Georgia,serif;
	--atomic-font-family-4: Garamond,serif;
	--atomic-font-family-5: "Courier New",Courier,monospace;
	--atomic-font-family-6: "Brush Script MT",cursive;
	--atomic-font-family-7: Copperplate,Papyrus,fantasy;
	--atomic-block: block;
	--atomic-grid: grid;
	--atomic-flex: flex;
	--atomic-inline: inline;
	--atomic-inline-block: inline-block;
	--atomic-inline-grid: inline-grid;
	--atomic-inline-flex: inline-flex;
	--atomic-nowrap: nowrap;
	--atomic-wrap: wrap;
	--atomic-column: column;
	--atomic-row: row;
	--atomic-flex-start: flex-start;
	--atomic-flex-end: flex-end;
	--atomic-space-around: space-around;
	--atomic-space-between: space-between;
	--atomic-baseline: baseline;
	--atomic-stretch: stretch;
	--atomic-center: center;
	--atomic-left: left;
	--atomic-right: right;
	--atomic-auto: auto;
	--atomic-none: none;
	--atomic-0: 0;
	--atomic-1: 1;
	--atomic-2: 2;
	--atomic-3: 3;
	--atomic-4: 4;
	--atomic-5: 5;
	--atomic-6: 6;
	--atomic-7: 7;
	--atomic-8: 8;
	--atomic-9: 9;
	--atomic-10: 10;
	--atomic-11: 11;
	--atomic-12: 12;
	--atomic-13: 13;
	--atomic-14: 14;
	--atomic-15: 15;
	--atomic-16: 16;
	--atomic-17: 17;
	--atomic-18: 18;
	--atomic-19: 19;
	--atomic-20: 20;
	--atomic-21: 21;
	--atomic-22: 22;
	--atomic-23: 23;
	--atomic-24: 24;
	--atomic-25: 25;
	--atomic-26: 26;
	--atomic-27: 27;
	--atomic-28: 28;
	--atomic-29: 29;
	--atomic-30: 30;
	--atomic-31: 31;
	--atomic-32: 32;
	--atomic-40: 40;
	--atomic-48: 48;
	--atomic-56: 56;
	--atomic-64: 64;
	--atomic-72: 72;
	--atomic-84: 84;
	--atomic-96: 96;
	--atomic-100: 100;
	--atomic-200: 200;
	--atomic-300: 300;
	--atomic-400: 400;
	--atomic-500: 500;
	--atomic-600: 600;
	--atomic-0-1: 0.1;
    --atomic-0-2: 0.2;
    --atomic-0-3: 0.3;
    --atomic-0-4: 0.4;
    --atomic-0-5: 0.5;
    --atomic-0-6: 0.6;
    --atomic-0-7: 0.7;
    --atomic-0-8: 0.8;
	--atomic-0-9: 0.9;
	--atomic-1-1: 1.1;
	--atomic-1-2: 1.2;
	--atomic-1-3: 1.3;
	--atomic-1-4: 1.4;
	--atomic-1-5: 1.5;
	--atomic-1-6: 1.6;
	--atomic-1-4: 1.4;
	--atomic-1-6: 1.6;
	--atomic-1-7: 1.7;
	--atomic-1-8: 1.8;
	--atomic-1-9: 1.9;
	--atomic-2-1: 2.1;
	--atomic-2-2: 2.2;
	--atomic-2-3: 2.3;
	--atomic-2-4: 2.4;
	--atomic-2-5: 2.5;
	--atomic-2-6: 2.6;
	--atomic-2-4: 2.4;
	--atomic-2-6: 2.6;
	--atomic-2-7: 2.7;
	--atomic-2-8: 2.8;
	--atomic-2-9: 2.9;
	--atomic-05px: 0.5px;
	--atomic-1px: 1px;
	--atomic-2px: 2px;
	--atomic-3px: 3px;
	--atomic-4px: 4px;
	--atomic-5px: 5px;
	--atomic-6px: 6px;
	--atomic-7px: 7px;
	--atomic-8px: 8px;
	--atomic-9px: 9px;
	--atomic-10px: 10px;
	--atomic-11px: 11px;
	--atomic-12px: 12px;
	--atomic-13px: 13px;
	--atomic-14px: 14px;
	--atomic-15px: 15px;
	--atomic-16px: 16px;
	--atomic-17px: 17px;
	--atomic-18px: 18px;
	--atomic-19px: 19px;
	--atomic-20px: 20px;
	--atomic-21px: 21px;
	--atomic-22px: 22px;
	--atomic-23px: 23px;
	--atomic-24px: 24px;
	--atomic-25px: 25px;
	--atomic-26px: 26px;
	--atomic-27px: 27px;
	--atomic-28px: 28px;
	--atomic-29px: 29px;
	--atomic-30px: 30px;
	--atomic-31px: 31px;
	--atomic-32px: 32px;
	--atomic-48px: 48px;
	--atomic-56px: 56px;
	--atomic-64px: 64px;
	--atomic-72px: 72px;
	--atomic-84px: 84px;
	--atomic-90px: 90px;
	--atomic-96px: 96px;
	--atomic-100px: 100px;
	--atomic-150px: 150px;
	--atomic-200px: 200px;
	--atomic-250px: 250px;
	--atomic-300px: 300px;
	--atomic-350px: 350px;
	--atomic-400px: 400px;
	--atomic-450px: 450px;
	--atomic-499px: 499px;
	--atomic-768px: 768px;
	--atomic-1024px: 1024px;
	--atomic-1268px: 1268px;
	--atomic-1366px: 1366px;
	--atomic-1rem: 1rem;
	--atomic-2rem: 2rem;
	--atomic-3rem: 3rem;
	--atomic-4rem: 4rem;
	--atomic-5rem: 5rem;
	--atomic-6rem: 6rem;
	--atomic-7rem: 7rem;
	--atomic-8rem: 8rem;
	--atomic-9rem: 9rem;
	--atomic-10rem: 10rem;
	--atomic-0pct: 0%;
	--atomic-10pct: 10%;
	--atomic-20pct: 20%;
	--atomic-30pct: 30%;
	--atomic-40pct: 40%;
	--atomic-50pct: 50%;
	--atomic-60pct: 60%;
	--atomic-70pct: 70%;
	--atomic-80pct: 80%;
	--atomic-90pct: 90%;
	--atomic-100pct: 100%;
	--atomic-80vh: 80vh;
	--atomic-100vh: 100vh;
	--atomic-solid: solid;
	--atomic-dotted: dotted;
	--atomic-double: double;
    --atomic-cover: cover;
    --atomic-contain: contain;
	--atomic-pointer: pointer;
	--atomic-all : all;
	--atomic-ease-in-out: ease-in-out;
	--atomic-15-s:.15s;
	--atomic-solid-05px: var(--atomic-solid) var(--atomic-05px);
	--atomic-solid-1px: var(--atomic-solid) var(--atomic-1px);
	--atomic-box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 
	0 1px 2px rgba(235, 235, 235, 0.24);
	--atomic-box-shadow-2: 0 10px 20px rgba(0, 0, 0, 0.19), 
	0 6px 6px rgba(0, 0, 0, 0.23);
	--atomic-box-shadow-3: 0 3px 6px rgba(0, 0, 0, 0.16), 
	0 3px 6px rgba(0, 0, 0, 0.23);
	--atomic-box-shadow-4: 0px 0px 3px 1px rgba(0, 0, 21103119860, 0.4);
	--atomic-box-shadow-5: 0px 0px 16px 8px rgba(0, 0, 0, 0.16);
	--atomic-box-shadow-6: 0px 5px 64px -32px rgba(0, 0, 0, 0.397);
	--atomic-box-shadow-7: rgba(0, 0, 0, 0.448) 0px 3px 6px, 
	rgba(0, 0, 0, 0.496) 0px 6px 12px;
	--atomic-box-shadow-8: -4px 0px 9px 3px rgba(215, 223, 34, 0.63);
	--atomic-box-shadow-9: 1rem 3rem rgba(0,0,0,.175);
	--atomic-box-shadow-10:0 2px 2px 0 rgba(0,0,0,0.14), 
	0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	--atomic-box-shadow-11:rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

[class*="Bd("]		    { border: var(--atomic-border) }
	.Bd\(black\) 		{ --atomic-border: var(--atomic-solid-1px) var(--atomic-black) }
	.Bd\(white\) 		{ --atomic-border: var(--atomic-solid-1px) var(--atomic-white) }
	.Bd\(gray\) 	    { --atomic-border: var(--atomic-solid-1px) var(--atomic-gray) }
	.Bd\(lightgray\) 	{ --atomic-border: var(--atomic-solid-1px) var(--atomic-lightgray) }
	.Bd\(darkgray\) 	{ --atomic-border: var(--atomic-solid-1px) var(--atomic-darkgray) }
	.Bd\(light\) 		{ --atomic-border: var(--atomic-solid-1px) var(--atomic-light) }
	.Bd\(dark\) 		{ --atomic-border: var(--atomic-solid-1px) var(--atomic-dark) }
	.Bd\(primary\) 		{ --atomic-border: var(--atomic-solid-1px) var(--atomic-primary) }
	.Bd\(secondary\) 	{ --atomic-border: var(--atomic-solid-1px) var(--atomic-secondary) }
	.Bd\(tertiary\) 	{ --atomic-border: var(--atomic-solid-1px) var(--atomic-tertiary) }

[class*="Bdb("]		    { border-bottom: var(--atomic-border-bottom)}
	.Bdb\(black\) 		{ --atomic-border-bottom: var(--atomic-solid-1px) var(--atomic-black)}
	.Bdb\(white\) 		{ --atomic-border-bottom: var(--atomic-solid-1px) var(--atomic-white)}
	.Bdb\(gray\) 	    { --atomic-border-bottom: var(--atomic-solid-1px) var(--atomic-gray)}
	.Bdb\(lightgray\) 	{ --atomic-border-bottom: var(--atomic-solid-1px) var(--atomic-lightgray)}
	.Bdb\(darkgray\) 	{ --atomic-border-bottom: var(--atomic-solid-1px) var(--atomic-darkgray)}
	.Bdb\(light\) 		{ --atomic-border-bottom: var(--atomic-solid-1px) var(--atomic-light)}
	.Bdb\(dark\) 		{ --atomic-border-bottom: var(--atomic-solid-1px) var(--atomic-dark)}
	.Bdb\(primary\) 	{ --atomic-border-bottom: var(--atomic-solid-1px) var(--atomic-primary)}
	.Bdb\(secondary\) 	{ --atomic-border-bottom: var(--atomic-solid-1px) var(--atomic-secondary)}
	.Bdb\(tertiary\) 	{ --atomic-border-bottom: var(--atomic-solid-1px) var(--atomic-tertiary)}

[class*="Bdt("]		    { border-top: var(--atomic-border-top)}
	.Bdt\(black\) 		{ --atomic-border-top: var(--atomic-solid-1px) var(--atomic-black)}
	.Bdt\(white\) 		{ --atomic-border-top: var(--atomic-solid-1px) var(--atomic-white)}
	.Bdt\(gray\) 	    { --atomic-border-top: var(--atomic-solid-1px) var(--atomic-gray)}
	.Bdt\(lightgray\) 	{ --atomic-border-top: var(--atomic-solid-1px) var(--atomic-lightgray)}
	.Bdt\(darkgray\) 	{ --atomic-border-top: var(--atomic-solid-1px) var(--atomic-darkgray)}
	.Bdt\(light\) 		{ --atomic-border-top: var(--atomic-solid-1px) var(--atomic-light)}
	.Bdt\(dark\) 		{ --atomic-border-top: var(--atomic-solid-1px) var(--atomic-dark)}
	.Bdt\(primary\) 	{ --atomic-border-top: var(--atomic-solid-1px) var(--atomic-primary)}
	.Bdt\(secondary\) 	{ --atomic-border-top: var(--atomic-solid-1px) var(--atomic-secondary)}
	.Bdt\(tertiary\) 	{ --atomic-border-top: var(--atomic-solid-1px) var(--atomic-tertiary)}

[class*="Bdl("]		    { border-left: var(--atomic-border-left)}
	.Bdl\(black\) 		{ --atomic-border-left: var(--atomic-solid-1px) var(--atomic-black)}
	.Bdl\(white\) 		{ --atomic-border-left: var(--atomic-solid-1px) var(--atomic-white)}
	.Bdl\(gray\) 	    { --atomic-border-left: var(--atomic-solid-1px) var(--atomic-gray)}
	.Bdl\(lightgray\) 	{ --atomic-border-left: var(--atomic-solid-1px) var(--atomic-lightgray)}
	.Bdl\(darkgray\) 	{ --atomic-border-left: var(--atomic-solid-1px) var(--atomic-darkgray)}
	.Bdl\(light\) 		{ --atomic-border-left: var(--atomic-solid-1px) var(--atomic-light)}
	.Bdl\(dark\) 		{ --atomic-border-left: var(--atomic-solid-1px) var(--atomic-dark)}
	.Bdl\(primary\) 	{ --atomic-border-left: var(--atomic-solid-1px) var(--atomic-primary)}
	.Bdl\(secondary\) 	{ --atomic-border-left: var(--atomic-solid-1px) var(--atomic-secondary)}
	.Bdl\(tertiary\) 	{ --atomic-border-left: var(--atomic-solid-1px) var(--atomic-tertiary)}

[class*="Bdr("]		    { border-right: var(--atomic-border-right)}
	.Bdr\(black\) 		{ --atomic-border-right: var(--atomic-solid-1px) var(--atomic-black)}
	.Bdr\(white\) 		{ --atomic-border-right: var(--atomic-solid-1px) var(--atomic-white)}
	.Bdr\(gray\) 	    { --atomic-border-right: var(--atomic-solid-1px) var(--atomic-gray)}
	.Bdr\(lightgray\) 	{ --atomic-border-right: var(--atomic-solid-1px) var(--atomic-lightgray)}
	.Bdr\(darkgray\) 	{ --atomic-border-right: var(--atomic-solid-1px) var(--atomic-darkgray)}
	.Bdr\(light\) 		{ --atomic-border-right: var(--atomic-solid-1px) var(--atomic-light)}
	.Bdr\(dark\) 		{ --atomic-border-right: var(--atomic-solid-1px) var(--atomic-dark)}
	.Bdr\(primary\) 	{ --atomic-border-right: var(--atomic-solid-1px) var(--atomic-primary)}
	.Bdr\(secondary\) 	{ --atomic-border-right: var(--atomic-solid-1px) var(--atomic-secondary)}
	.Bdr\(tertiary\) 	{ --atomic-border-right: var(--atomic-solid-1px) var(--atomic-tertiary)}

[class*="Bg("]			{ background-color: var(--atomic-background-color) }
	.Bg\(primary\)      { --atomic-background-color: var(--atomic-primary) }
	.Bg\(secondary\)    { --atomic-background-color: var(--atomic-secondary) }
	.Bg\(tertiary\)     { --atomic-background-color: var(--atomic-tertiary) }
	.Bg\(orange\)       { --atomic-background-color: var(--atomic-orange) }
	.Bg\(red\)          { --atomic-background-color: var(--atomic-red) }
	.Bg\(maroon\)       { --atomic-background-color: var(--atomic-maroon) }
	.Bg\(yellow\)       { --atomic-background-color: var(--atomic-yellow) }
	.Bg\(lime\)         { --atomic-background-color: var(--atomic-lime) }
	.Bg\(green\)        { --atomic-background-color: var(--atomic-green) }
	.Bg\(cyan\)         { --atomic-background-color: var(--atomic-cyan) }
	.Bg\(blue\)         { --atomic-background-color: var(--atomic-blue) }
	.Bg\(indigo\)       { --atomic-background-color: var(--atomic-indigo) }	
	.Bg\(lavendem\)     { --atomic-background-color: var(--atomic-lavender) }	
	.Bg\(violet\)       { --atomic-background-color: var(--atomic-violet) }
	.Bg\(purple\)       { --atomic-background-color: var(--atomic-purple) }
	.Bg\(pink\)         { --atomic-background-color: var(--atomic-pink) }
	.Bg\(dark\)         { --atomic-background-color: var(--atomic-dark) }
	.Bg\(light\)        { --atomic-background-color: var(--atomic-light) }
	.Bg\(darkgray\)     { --atomic-background-color: var(--atomic-darkgray) }
	.Bg\(gray\)         { --atomic-background-color: var(--atomic-gray) }
	.Bg\(lightgray\)    { --atomic-background-color: var(--atomic-lightgray) }
	.Bg\(black\)        { --atomic-background-color: var(--atomic-black) }
	.Bg\(white\)        { --atomic-background-color: var(--atomic-white) }

	.Bg\(gray\)\:hv:hover       { --atomic-background-color: var(--atomic-gray) }
	.Bg\(black\)\:hv:hover      { --atomic-background-color: var(--atomic-black) }
	.Bg\(white\)\:hv:hover      { --atomic-background-color: var(--atomic-white) }
	.Bg\(primary\)\:hv:hover  	{ --atomic-background-color: var(--atomic-primary) }
	.Bg\(secondary\)\:hv:hover  { --atomic-background-color: var(--atomic-secondary) }
	.Bg\(tertiary\)\:hv:hover   { --atomic-background-color: var(--atomic-tertiary) }

[class*="C("]		   { color: var(--atomic-color)}
	.C\(primary\)      {--atomic-color: var(--atomic-primary)}
	.C\(secondary\)    {--atomic-color: var(--atomic-secondary)}
	.C\(tertiary\)     {--atomic-color: var(--atomic-tertiary)}
	.C\(orange\)       {--atomic-color: var(--atomic-orange)}
	.C\(red\)          {--atomic-color: var(--atomic-red)}
	.C\(maroon\)       {--atomic-color: var(--atomic-maroon)}
	.C\(yellow\)       {--atomic-color: var(--atomic-yellow)}
	.C\(lime\)         {--atomic-color: var(--atomic-lime)}
	.C\(green\)        {--atomic-color: var(--atomic-green)}
	.C\(cyan\)         {--atomic-color: var(--atomic-cyan)}
	.C\(blue\)         {--atomic-color: var(--atomic-blue)}
	.C\(indigo\)       {--atomic-color: var(--atomic-indigo)}
	.C\(lavendem\)     {--atomic-color: var(--atomic-lavender)}	
	.C\(violet\)       {--atomic-color: var(--atomic-violet)}
	.C\(purple\)       {--atomic-color: var(--atomic-purple)}
	.C\(pink\)         {--atomic-color: var(--atomic-pink)}
	.C\(dark\)         {--atomic-color: var(--atomic-dark)}
	.C\(light\)        {--atomic-color: var(--atomic-light)}
	.C\(lightgray\)    {--atomic-color: var(--atomic-lightgray)}
	.C\(gray\)         {--atomic-color: var(--atomic-gray)}
	.C\(darkgray\)     {--atomic-color: var(--atomic-darkgray)}
	.C\(black\)        {--atomic-color: var(--atomic-black)}
	.C\(white\)        {--atomic-color: var(--atomic-white)}

	.C\(gray\)\:hv:hover      { --atomic-color: var(--atomic-gray) }
	.C\(black\)\:hv:hover      { --atomic-color: var(--atomic-black) }
	.C\(white\)\:hv:hover      { --atomic-color: var(--atomic-white) }
	.C\(primary\)\:hv:hover    { --atomic-color: var(--atomic-primary) }
	.C\(secondary\)\:hv:hover  { --atomic-color: var(--atomic-secondary) }
	.C\(tertiary\)\:hv:hover   { --atomic-color: var(--atomic-tertiary) }

[class*="Bs("] 			{ box-shadow: var(--atomic-box-shadow) }
	.Bs\(1\)  			{ --atomic-box-shadow: var(--atomic-box-shadow-1) }
	.Bs\(2\)  			{ --atomic-box-shadow: var(--atomic-box-shadow-2) }
	.Bs\(3\)  			{ --atomic-box-shadow: var(--atomic-box-shadow-3) }
	.Bs\(4\)  			{ --atomic-box-shadow: var(--atomic-box-shadow-4) }
	.Bs\(5\)  			{ --atomic-box-shadow: var(--atomic-box-shadow-5) }
	.Bs\(6\)  			{ --atomic-box-shadow: var(--atomic-box-shadow-6) }
	.Bs\(7\)  			{ --atomic-box-shadow: var(--atomic-box-shadow-7) }
	.Bs\(8\)  			{ --atomic-box-shadow: var(--atomic-box-shadow-8) }
	.Bs\(9\)  			{ --atomic-box-shadow: var(--atomic-box-shadow-9) }
	.Bs\(10\) 			{ --atomic-box-shadow: var(--atomic-box-shadow-10) }
	.Bs\(11\) 			{ --atomic-box-shadow: var(--atomic-box-shadow-11) }

[class*="Ff("] 			{font-family: var(--atomic-font-family)}
	.Ff\(primary\) 	 	{--atomic-font-family: var(--atomic-font-family-primary)}
	.Ff\(secondary\) 	{--atomic-font-family: var(--atomic-font-family-secondary)}
	.Ff\(1\) 	 		{--atomic-font-family: var(--atomic-font-family-1)}
	.Ff\(2\) 	 		{--atomic-font-family: var(--atomic-font-family-2)}
	.Ff\(3\) 	 		{--atomic-font-family: var(--atomic-font-family-3)}
	.Ff\(4\) 	 		{--atomic-font-family: var(--atomic-font-family-4)}
	.Ff\(5\) 	 		{--atomic-font-family: var(--atomic-font-family-5)}
	.Ff\(6\) 	 		{--atomic-font-family: var(--atomic-font-family-6)}

[class*="Fs("] 			{font-size: var(--atomic-font-size)}
	.Fs\(12x\) 			{--atomic-font-size: var(--atomic-12px)}
	.Fs\(13x\) 			{--atomic-font-size: var(--atomic-13px)}
	.Fs\(14x\) 			{--atomic-font-size: var(--atomic-14px)}
	.Fs\(15x\) 			{--atomic-font-size: var(--atomic-15px)}
	.Fs\(16x\) 			{--atomic-font-size: var(--atomic-16px)}
	.Fs\(17x\) 			{--atomic-font-size: var(--atomic-17px)}
	.Fs\(18x\) 			{--atomic-font-size: var(--atomic-18px)}
	.Fs\(19x\) 			{--atomic-font-size: var(--atomic-19px)}
	.Fs\(20x\) 			{--atomic-font-size: var(--atomic-20px)}
	.Fs\(21x\) 			{--atomic-font-size: var(--atomic-21px)}
	.Fs\(22x\) 			{--atomic-font-size: var(--atomic-22px)}
	.Fs\(23x\) 			{--atomic-font-size: var(--atomic-23px)}
	.Fs\(24x\) 			{--atomic-font-size: var(--atomic-24px)}
	.Fs\(32x\) 			{--atomic-font-size: var(--atomic-32px)}
	.Fs\(1m\) 			{--atomic-font-size: var(--atomic-1rem)}
	.Fs\(2m\) 			{--atomic-font-size: var(--atomic-2rem)}
	.Fs\(3m\) 			{--atomic-font-size: var(--atomic-3rem)}
	.Fs\(4m\) 			{--atomic-font-size: var(--atomic-4rem)}

[class*="Fw("]			{font-weight: var(--atomic-font-weight)}
	.Fw\(100\) 			{--atomic-font-weight: var(--atomic-100)}
	.Fw\(200\) 			{--atomic-font-weight: var(--atomic-200)}
	.Fw\(300\) 			{--atomic-font-weight: var(--atomic-300)}
	.Fw\(400\) 			{--atomic-font-weight: var(--atomic-400)}
	.Fw\(500\) 			{--atomic-font-weight: var(--atomic-500)}
	.Fw\(600\) 			{--atomic-font-weight: var(--atomic-600)}
	
[class*="Lh("]			{ line-height: var(--atomic-line-height) }
	.Lh\(1\) 			{ --atomic-line-height: var(--atomic-1) }
	.Lh\(1\.6\) 		{ --atomic-line-height: var(--atomic-1-6) }
	.Lh\(2\) 			{ --atomic-line-height: var(--atomic-2) }
	.Lh\(2\.6\) 		{ --atomic-line-height: var(--atomic-2-6) }
	.Lh\(3\) 			{ --atomic-line-height: var(--atomic-3) }

[class*="Ta("] 			{ text-align: var(--atomic-text-align) }
	.Ta\(c\)            { --atomic-text-align:var(--atomic-center) }
	.Ta\(m\)            { --atomic-text-align:var(--atomic-right) }
	.Ta\(l\)            { --atomic-text-align:var(--atomic-left) }

[class*="D("]			{ display: var(--atomic-display) }
	.D\(inline\) 		{ --atomic-display: var(--atomic-inline) }
	.D\(iflex\) 		{ --atomic-display: var(--atomic-iflex) }
	.D\(iblock\) 		{ --atomic-display: var(--atomic-iblock) }
	.D\(igrid\) 		{ --atomic-display: var(--atomic-igrid) }
	.D\(flex\) 			{ --atomic-display: var(--atomic-flex) }
	.D\(block\) 		{ --atomic-display: var(--atomic-block) }
	.D\(grid\) 			{ --atomic-display: var(--atomic-grid) }

[class*="Ai("]          { align-items: var(--atomic-align-items) }
	.Ai\(fs\)           { --atomic-align-items: var(--atomic-flex-start) }
	.Ai\(fe\)           { --atomic-align-items: var(--atomic-flex-end) }
	.Ai\(bs\)           { --atomic-align-items: var(--atomic-baseline) }
	.Ai\(st\)           { --atomic-align-items: var(--atomic-stretch) }
	.Ai\(c\)            { --atomic-align-items: var(--atomic-center) }

[class*="Jc("]		    { justify-content: var(--atomic-justify-content) }
	.Jc\(fs\)			{ --atomic-justify-content: var(--atomic-flex-start) }
	.Jc\(fe\)  	 		{ --atomic-justify-content: var(--atomic-flex-end) }
	.Jc\(sa\) 			{ --atomic-justify-content: var(--atomic-space-around) }
	.Jc\(sb\) 			{ --atomic-justify-content: var(--atomic-space-between) }
	.Jc\(c\)			{ --atomic-justify-content: var(--atomic-center) }

[class*="Fwp("]			{ flex-wrap: var(--atomic-flex-wrap) }
	.Fwp\(nowrap\) 		{ --atomic-flex-wrap: var(--atomic-nowrap) }
	.Fwp\(wrap\) 		{ --atomic-flex-wrap: var(--atomic-wrap) }

[class*="Fd("]		    { flex-direction: var(--atomic-flex-direction) }
	.Fd\(col\) 		    { --atomic-flex-direction:var(--atomic-column) }
	.Fd\(row\) 		    { --atomic-flex-direction:var(--atomic-row) }

[class*="Fl("] 			{ flex: var(--atomic-flex) }
	.Fl\(0\%\) 	 	    { --atomic-flex: var(--atomic-0pct) }
	.Fl\(10\%\) 	 	{ --atomic-flex: var(--atomic-10pct) }
	.Fl\(20\%\) 	 	{ --atomic-flex: var(--atomic-20pct) }
	.Fl\(30\%\) 	 	{ --atomic-flex: var(--atomic-30pct) }
	.Fl\(40\%\) 	 	{ --atomic-flex: var(--atomic-40pct) }
	.Fl\(50\%\) 	 	{ --atomic-flex: var(--atomic-50pct) }
	.Fl\(60\%\) 	 	{ --atomic-flex: var(--atomic-60pct) }
	.Fl\(70\%\) 	 	{ --atomic-flex: var(--atomic-70pct) }
	.Fl\(80\%\) 	 	{ --atomic-flex: var(--atomic-80pct) }
	.Fl\(90\%\) 	 	{ --atomic-flex: var(--atomic-90pct) }
	.Fl\(100\%\) 	 	{ --atomic-flex: var(--atomic-100pct) }

[class*="Of("] 			{ object-fit: var(--atomic-object-fit) }
	.Of\(cv\)         	{ --atomic-object-fit:var(--atomic-cover) }
	.Of\(cn\)         	{ --atomic-object-fit:var(--atomic-contain) }

[class*="Op("] 			{ opacity: var(--atomic-opacity) }
	.Op\(0\)         	{ --atomic-opacity:var(--atomic-0) }
    .Op\(0\.1\)         { --atomic-opacity:var(--atomic-0-1) }
    .Op\(0\.2\)         { --atomic-opacity:var(--atomic-0-2) }
    .Op\(0\.3\)         { --atomic-opacity:var(--atomic-0-3) }
    .Op\(0\.4\)         { --atomic-opacity:var(--atomic-0-4) }
    .Op\(0\.5\)         { --atomic-opacity:var(--atomic-0-5) }
    .Op\(0\.6\)         { --atomic-opacity:var(--atomic-0-6) }
    .Op\(0\.7\)         { --atomic-opacity:var(--atomic-0-7) }
    .Op\(0\.8\)         { --atomic-opacity:var(--atomic-0-8) }
    .Op\(0\.9\)         { --atomic-opacity:var(--atomic-0-9) }
	.Op\(10\)         	{ --atomic-opacity:var(--atomic-1) }

[class*="P("]			{ padding: var(--atomic-padding) }
	.P\(0\)				{ --atomic-padding: var(--atomic-0) }
	.P\(2x\)			{ --atomic-padding: var(--atomic-2px) }
	.P\(4x\)			{ --atomic-padding: var(--atomic-4px) }
	.P\(8x\) 			{ --atomic-padding: var(--atomic-8px) }
	.P\(12x\) 			{ --atomic-padding: var(--atomic-12px) }
	.P\(1m\)			{ --atomic-padding: var(--atomic-1rem) }
	.P\(2m\) 			{ --atomic-padding: var(--atomic-2rem) }
	.P\(3m\)			{ --atomic-padding: var(--atomic-3rem) }
	.P\(4m\)			{ --atomic-padding: var(--atomic-4rem) }

[class*="Pt("]		    { padding-top: var(--atomic-padding-top) }
	.Pt\(0\)			{ --atomic-padding-top: var(--atomic-0)}
	.Pt\(2x\)			{ --atomic-padding-top: var(--atomic-2px)}
	.Pt\(4x\)			{ --atomic-padding-top: var(--atomic-4px)}
	.Pt\(8x\) 			{ --atomic-padding-top: var(--atomic-8px)}
	.Pt\(12x\) 			{ --atomic-padding-top: var(--atomic-12px)}
	.Pt\(1m\)			{ --atomic-padding-top: var(--atomic-1rem)}
	.Pt\(2m\) 			{ --atomic-padding-top: var(--atomic-2rem)}
	.Pt\(3m\)			{ --atomic-padding-top: var(--atomic-3rem)}
	.Pt\(4m\)			{ --atomic-padding-top: var(--atomic-4rem)}

[class*="Pb("]			{ padding-bottom: var(--atomic-padding-bottom)}
	.Pb\(0\)			{ --atomic-padding-bottom: var(--atomic-0)}
	.Pb\(2x\)			{ --atomic-padding-bottom: var(--atomic-2px)}
	.Pb\(4x\)			{ --atomic-padding-bottom: var(--atomic-4px)}
	.Pb\(8x\) 			{ --atomic-padding-bottom: var(--atomic-8px)}
	.Pb\(12x\) 			{ --atomic-padding-bottom: var(--atomic-12px)}
	.Pb\(1m\)			{ --atomic-padding-bottom: var(--atomic-1rem)}
	.Pb\(2m\) 			{ --atomic-padding-bottom: var(--atomic-2rem)}
	.Pb\(3m\)			{ --atomic-padding-bottom: var(--atomic-3rem)}
	.Pb\(4m\)			{ --atomic-padding-bottom: var(--atomic-4rem)}

[class*="Pr("]			{ padding-right: var(--atomic-padding-right) }
	.Pr\(0\)			{ --atomic-padding-right: var(--atomic-0)}
	.Pr\(2x\)			{ --atomic-padding-right: var(--atomic-2px)}
	.Pr\(4x\)			{ --atomic-padding-right: var(--atomic-4px)}
	.Pr\(8x\) 			{ --atomic-padding-right: var(--atomic-8px)}
	.Pr\(12x\) 			{ --atomic-padding-right: var(--atomic-12px)}
	.Pr\(1m\)			{ --atomic-padding-right: var(--atomic-1rem)}
	.Pr\(2m\) 			{ --atomic-padding-right: var(--atomic-2rem)}
	.Pr\(3m\)			{ --atomic-padding-right: var(--atomic-3rem)}
	.Pr\(4m\)			{ --atomic-padding-right: var(--atomic-4rem)}

[class*="Pl("]			{ padding-left: var(--atomic-padding-left) }
	.Pl\(0\)			{ --atomic-padding-left: var(--atomic-0)}
	.Pl\(2x\)			{ --atomic-padding-left: var(--atomic-2px)}
	.Pl\(4x\)			{ --atomic-padding-left: var(--atomic-4px)}
	.Pl\(8x\) 			{ --atomic-padding-left: var(--atomic-8px)}
	.Pl\(12x\) 			{ --atomic-padding-left: var(--atomic-12px)}
	.Pl\(1m\)			{ --atomic-padding-left: var(--atomic-1rem)}
	.Pl\(2m\) 			{ --atomic-padding-left: var(--atomic-2rem)}
	.Pl\(3m\)			{ --atomic-padding-left: var(--atomic-3rem)}
	.Pl\(4m\)			{ --atomic-padding-left: var(--atomic-4rem)}

[class*="M("]			{ margin: var(--atomic-margin) }
	.M\(a\) 			{ --atomic-margin: var(--atomic-auto)}
	.M\(0\)				{ --atomic-margin: var(--atomic-0)}
	.M\(2x\)			{ --atomic-margin: var(--atomic-2px)}
	.M\(4x\)			{ --atomic-margin: var(--atomic-4px)}
	.M\(8x\) 			{ --atomic-margin: var(--atomic-8px)}
	.M\(12x\) 			{ --atomic-margin: var(--atomic-12px)}
	.M\(1m\)			{ --atomic-margin: var(--atomic-1rem)}
	.M\(2m\)			{ --atomic-margin: var(--atomic-2rem)}
	.M\(3m\)			{ --atomic-margin: var(--atomic-3rem)}
	.M\(4m\)			{ --atomic-margin: var(--atomic-4rem)}

[class*="Mt("]			{ margin-top: var(--atomic-margin-top)}
	.Mt\(a\) 			{ --atomic-margin-top: var(--atomic-auto)}
	.Mt\(0\) 			{ --atomic-margin-top: var(--atomic-0)}
	.Mt\(2x\)			{ --atomic-margin-top: var(--atomic-2px)}
	.Mt\(4x\)			{ --atomic-margin-top: var(--atomic-4px)}
	.Mt\(8x\) 			{ --atomic-margin-top: var(--atomic-8px)}
	.Mt\(12x\) 			{ --atomic-margin-top: var(--atomic-12px)}
	.Mt\(1m\) 			{ --atomic-margin-top: var(--atomic-1rem)}
	.Mt\(2m\) 			{ --atomic-margin-top: var(--atomic-2rem)}
	.Mt\(3m\) 			{ --atomic-margin-top: var(--atomic-3rem)}
	.Mt\(4m\) 			{ --atomic-margin-top: var(--atomic-4rem)}
	
[class*="Mb("]			{ margin-bottom: var(--atomic-margin-bottom)}
	.Mb\(a\) 			{ --atomic-margin-bottom: var(--atomic-auto) }
	.Mb\(0\) 			{ --atomic-margin-bottom: var(--atomic-0)}
	.Mb\(2x\)			{ --atomic-margin-bottom: var(--atomic-2px)}
	.Mb\(4x\)			{ --atomic-margin-bottom: var(--atomic-4px)}
	.Mb\(8x\) 			{ --atomic-margin-bottom: var(--atomic-8px)}
	.Mb\(12x\) 			{ --atomic-margin-bottom: var(--atomic-12px)}
	.Mb\(1m\) 			{ --atomic-margin-bottom: var(--atomic-1rem)}
	.Mb\(2m\) 			{ --atomic-margin-bottom: var(--atomic-2rem)}
	.Mb\(3m\) 			{ --atomic-margin-bottom: var(--atomic-3rem)}
	.Mb\(4m\) 			{ --atomic-margin-bottom: var(--atomic-4rem)}

[class*="Ml("]			{ margin-left: var(--atomic-margin-left) }
	.Ml\(a\) 			{ --atomic-margin-left: var(--atomic-auto)}
	.Ml\(0\) 			{ --atomic-margin-left: var(--atomic-0)	}
	.Ml\(2x\)			{ --atomic-margin-left: var(--atomic-2px)}
	.Ml\(4x\)			{ --atomic-margin-left: var(--atomic-4px)}
	.Ml\(8x\) 			{ --atomic-margin-left: var(--atomic-8px)}
	.Ml\(12x\) 			{ --atomic-margin-left: var(--atomic-12px)}
	.Ml\(1m\) 			{ --atomic-margin-left: var(--atomic-1rem)}
	.Ml\(2m\) 			{ --atomic-margin-left: var(--atomic-2rem)}
	.Ml\(3m\) 			{ --atomic-margin-left: var(--atomic-3rem)}
	.Ml\(4m\) 			{ --atomic-margin-left: var(--atomic-4rem)}

[class*="Mr("]			{ margin-right: var(--atomic-margin-right) }
	.Mr\(a\) 			{ --atomic-margin-right: var(--atomic-auto) }
	.Mr\(0\)			{ --atomic-margin-right: var(--atomic-0) }
	.Mr\(2x\)			{ --atomic-margin-right: var(--atomic-2px)}
	.Mr\(4x\)			{ --atomic-margin-right: var(--atomic-4px)}
	.Mr\(8x\) 			{ --atomic-margin-right: var(--atomic-8px)}
	.Mr\(12x\) 			{ --atomic-margin-right: var(--atomic-12px)}
	.Mr\(1m\)			{ --atomic-margin-right: var(--atomic-1rem) }
	.Mr\(2m\)			{ --atomic-margin-right: var(--atomic-2rem) }
	.Mr\(3m\)			{ --atomic-margin-right: var(--atomic-3rem) }
	.Mr\(4m\)			{ --atomic-margin-right: var(--atomic-4rem) }

[class*="H("] 			{ height: var(--atomic-height) }
	.H\(0\)         	{ --atomic-height:var(--atomic-0) }
	.H\(a\)         	{ --atomic-height:var(--atomic-auto) }
	.H\(100vh\)         { --atomic-height:var(--atomic-100vh) }
	.H\(100\%\)         { --atomic-height:var(--atomic-100pct) }

[class*="Mnh"]			{ min-height: var(--atomic-min-height) }
	.Mnh\(100x\) 		{ --atomic-min-height: var(--atomic-300px) }
	.Mnh\(200x\) 		{ --atomic-min-height: var(--atomic-300px) }
	.Mnh\(300x\) 		{ --atomic-min-height: var(--atomic-300px) }
	.Mnh\(400x\) 		{ --atomic-min-height: var(--atomic-300px) }
	.Mnh\(600x\) 		{ --atomic-min-height: var(--atomic-300px) }
	.Mnh\(500x\) 		{ --atomic-min-height: var(--atomic-300px) }
	.Mnh\(600x\) 		{ --atomic-min-height: var(--atomic-600px) }
	.Mnh\(768x\) 		{ --atomic-min-height: var(--atomic-100pct) }
	.Mnh\(100vh\)       { --atomic-min-height:var(--atomic-100vh) }

[class*="Mnw"]			{ min-width: var(--atomic-min-width) }
	.Mnw\(0\) 			{ --atomic-min-width: var(--atomic-0) }
	.Mnw\(2x\)			{ --atomic-min-width: var(--atomic-2px) }
	.Mnw\(4x\)			{ --atomic-min-width: var(--atomic-4px) }
	.Mnw\(8x\)			{ --atomic-min-width: var(--atomic-8px) }
	.Mnw\(16x\)			{ --atomic-min-width: var(--atomic-16px) }
	.Mnw\(24x\)			{ --atomic-min-width: var(--atomic-24px) }
	.Mnw\(32x\)			{ --atomic-min-width: var(--atomic-32px) }
	.Mnw\(48x\)			{ --atomic-min-width: var(--atomic-48px) }
	.Mnw\(56x\)			{ --atomic-min-width: var(--atomic-56px) }
	.Mnw\(64x\)			{ --atomic-min-width: var(--atomic-64px) }
	.Mnw\(72x\)			{ --atomic-min-width: var(--atomic-72px) }
	.Mnw\(96x\)			{ --atomic-min-width: var(--atomic-96px) }
	.Mnw\(100x\)		{ --atomic-min-width: var(--atomic-100px) }
	.Mnw\(200x\)		{ --atomic-min-width: var(--atomic-200px) }
	.Mnw\(300x\)		{ --atomic-min-width: var(--atomic-300px) }
	.Mnw\(400x\)		{ --atomic-min-width: var(--atomic-400px) }
	.Mnw\(100\%\)		{ --atomic-min-width: var(--atomic-100pct) }

[class*="Mxw("]			{ max-width: var(--atomic-max-width) }
	.Mxw\(0\) 			{ --atomic-max-width: var(--atomic-0) }
	.Mxw\(2x\) 			{ --atomic-max-width: var(--atomic-2px) }
	.Mxw\(4x\) 			{ --atomic-max-width: var(--atomic-4px) }
	.Mxw\(8x\) 			{ --atomic-max-width: var(--atomic-8px) }
	.Mxw\(16x\) 		{ --atomic-max-width: var(--atomic-16px) }
	.Mxw\(24x\) 		{ --atomic-max-width: var(--atomic-24px) }
	.Mxw\(32x\) 		{ --atomic-max-width: var(--atomic-32px) }
	.Mxw\(48x\) 		{ --atomic-max-width: var(--atomic-48px) }
	.Mxw\(64x\) 		{ --atomic-max-width: var(--atomic-64px) }
	.Mxw\(56x\) 		{ --atomic-max-width: var(--atomic-56px) }
	.Mxw\(64x\) 		{ --atomic-max-width: var(--atomic-64px) }
	.Mxw\(72x\) 		{ --atomic-max-width: var(--atomic-72px) }
	.Mxw\(96x\) 		{ --atomicmax--width: var(--atomic-96px) }
	.Mxw\(100x\)		{ --atomic-max-width: var(--atomic-100px) }
	.Mxw\(200x\)		{ --atomic-max-width: var(--atomic-200px) }
	.Mxw\(300x\)		{ --atomic-max-width: var(--atomic-300px) }
	.Mxw\(400x\)		{ --atomic-max-width: var(--atomic-400px) }
	.mxw\(500x\)		{ --atomic-max-width: var(--atomic-500px) }
	.Mxw\(600x\)		{ --atomic-max-width: var(--atomic-560px) }
	.Mxw\(768x\)		{ --atomic-max-width: var(--atomic-768px) }
	.Mxw\(1024x\)		{ --atomic-max-width: var(--atomic-1024px) }
	.Mxw\(1268x\)		{ --atomic-max-width: var(--atomic-1268px) }
	.Mxw\(1366x\)		{ --atomic-max-width: var(--atomic-1366px) }
	.Mxw\(100\%\)		{ --atomic-max-width: var(--atomic-100pct) }

[class*="W("]			{ width: var(--atomic-width) }
	.W\(0\)				{ --atomic-width: var(--atomic-0) }
	.W\(2x\) 			{ --atomic-width: var(--atomic-2px) }
	.W\(4x\) 			{ --atomic-width: var(--atomic-4px) }
	.W\(8x\) 			{ --atomic-width: var(--atomic-8px) }
	.W\(16x\) 			{ --atomic-width: var(--atomic-16px) }
	.W\(24x\) 			{ --atomic-width: var(--atomic-24px) }
	.W\(32x\) 			{ --atomic-width: var(--atomic-32px) }
	.W\(48x\) 			{ --atomic-width: var(--atomic-48px) }
	.W\(56x\) 			{ --atomic-width: var(--atomic-56px) }
	.W\(64x\) 			{ --atomic-width: var(--atomic-64px) }
	.W\(72x\) 			{ --atomic-width: var(--atomic-72px) }
	.W\(96x\) 			{ --atomic-width: var(--atomic-96px) }
	.W\(100x\)		    { --atomic-width: var(--atomic-100px) }
	.W\(200x\)		    { --atomic-width: var(--atomic-200px) }
	.W\(300x\)		    { --atomic-width: var(--atomic-200px) }
	.W\(400x\)		    { --atomic-width: var(--atomic-250px) }
	.W\(10\%\)			{ --atomic-width: var(--atomic-10pct) }
	.W\(20\%\)			{ --atomic-width: var(--atomic-20pct) }
	.W\(30\%\)			{ --atomic-width: var(--atomic-30pct) }
	.W\(40\%\)			{ --atomic-width: var(--atomic-40pct) }
	.W\(50\%\)			{ --atomic-width: var(--atomic-50pct) }
	.W\(60\%\)			{ --atomic-width: var(--atomic-60pct) }
	.W\(70\%\)			{ --atomic-width: var(--atomic-70pct) }
	.W\(80\%\) 			{ --atomic-width: var(--atomic-80pct) }
	.W\(90\%\)			{ --atomic-width: var(--atomic-90pct) }
	.W\(100\%\)			{ --atomic-width: var(--atomic-100pct) }

/* Default Mode:
 * Both theme has same values (default or light)
 */
body {
	--atomic-primary: var(--light-primary);
	--atomic-secondary: var(--light-secondary);
	--atomic-tertiary: var(--light-tertiary);
	--atomic-red: var(--light-red);
	--atomic-maroon: var(--light-maroon);
	--atomic-yellow: var(--light-yellow);
	--atomic-lime: var(--light-lime);
	--atomic-green: var(--light-green);
	--atomic-cyan: var(--light-cyan);
	--atomic-blue: var(--light-blue);
	--atomic-indigo: var(--light-indigo);
	--atomic-violet: var(--light-violet);
	--atomic-lavender: var(--light-lavender);
	--atomic-purple: var(--light-purple);
	--atomic-pink: var(--light-pink);
	--atomic-lightgray: var(--light-lightgray);
	--atomic-gray: var(--light-gray);
	--atomic-darkgray: var(--light-darkgray);
	--atomic-dark: var(--light-dark);
	--atomic-light: var(--light-light);
	--atomic-white: var(--light-white);
	--atomic-black: var(--light-black);
}

/* Default Mode:
* Both theme has same values (default or light)
*/
body,
body.light {
	--atomic-primary: var(--light-primary);
	--atomic-secondary: var(--light-secondary);
	--atomic-tertiary: var(--light-tertiary);
	--atomic-orange: var(--light-orange);
	--atomic-red: var(--light-red);
	--atomic-maroon: var(--light-maroon);
	--atomic-yellow: var(--light-yellow);
	--atomic-lime: var(--light-lime);
	--atomic-green: var(--light-green);
	--atomic-cyan: var(--light-cyan);
	--atomic-blue: var(--light-blue);
	--atomic-indigo: var(--light-indigo);
	--atomic-violet: var(--light-violet);
	--atomic-lavender: var(--light-lavender);
	--atomic-purple: var(--light-purple);
	--atomic-pink: var(--light-pink);
	--atomic-lightgray: var(--light-lightgray);
	--atomic-gray: var(--light-gray);
	--atomic-darkgray: var(--light-darkgray);
	--atomic-dark: var(--light-dark);
	--atomic-light: var(--light-light);
	--atomic-white: var(--light-white);
	--atomic-black: var(--light-black);

}

/* The Light Mode:
* Each theme has it's own values (Light) and (Dark)
* prefers-color-scheme: light
* prefers-color-scheme: no-preference
*/
@media (prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {

	body,
	body.light {
		--atomic-primary: var(--light-primary);
		--atomic-secondary: var(--light-secondary);
		--atomic-tertiary: var(--light-tertiary);
		--atomic-orange: var(--light-orange);
		--atomic-red: var(--light-red);
		--atomic-maroon: var(--light-maroon);
		--atomic-yellow: var(--light-yellow);
		--atomic-lime: var(--light-lime);
		--atomic-green: var(--light-green);
		--atomic-cyan: var(--light-cyan);
		--atomic-blue: var(--light-blue);
		--atomic-indigo: var(--light-indigo);
		--atomic-violet: var(--light-violet);
		--atomic-lavender: var(--light-lavender);
		--atomic-purple: var(--light-purple);
		--atomic-pink: var(--light-pink);
		--atomic-lightgray: var(--light-lightgray);
		--atomic-gray: var(--light-gray);
		--atomic-darkgray: var(--light-darkgray);
		--atomic-dark: var(--light-dark);
		--atomic-light: var(--light-light);
		--atomic-white: var(--light-white);
		--atomic-black: var(--light-black);
	}

	body.dark {
		--atomic-primary: var(--dark-primary);
		--atomic-secondary: var(--dark-secondary);
		--atomic-tertiary: var(--dark-tertiary);
		--atomic-orange: var(--dark-orange);
		--atomic-red: var(--dark-red);
		--atomic-maroon: var(--dark-maroon);
		--atomic-yellow: var(--dark-yellow);
		--atomic-lime: var(--dark-lime);
		--atomic-green: var(--dark-green);
		--atomic-cyan: var(--dark-cyan);
		--atomic-blue: var(--dark-blue);
		--atomic-indigo: var(--dark-indigo);
		--atomic-violet: var(--dark-violet);
		--atomic-lavender: var(--dark-lavender);
		--atomic-purple: var(--dark-purple);
		--atomic-pink: var(--dark-pink);
		--atomic-lightgray: var(--dark-lightgray);
		--atomic-gray: var(--dark-gray);
		--atomic-darkgray: var(--dark-darkgray);
		--atomic-dark: var(--dark-dark);
		--atomic-light: var(--dark-light);
		--atomic-white: var(--dark-white);
		--atomic-black: var(--dark-black);
	}
}

/* The Dark Mode:
* Both themes has same values (Dark)
* prefers-color-scheme: dark
*/
@media (prefers-color-scheme: dark) {

	body,
	body.dark {
		--atomic-primary: var(--dark-primary);
		--atomic-secondary: var(--dark-secondary);
		--atomic-tertiary: var(--dark-tertiary);
		--atomic-orange: var(--dark-orange);
		--atomic-red: var(--dark-red);
		--atomic-maroon: var(--dark-maroon);
		--atomic-yellow: var(--dark-yellow);
		--atomic-lime: var(--dark-lime);
		--atomic-green: var(--dark-green);
		--atomic-cyan: var(--dark-cyan);
		--atomic-blue: var(--dark-blue);
		--atomic-indigo: var(--dark-indigo);
		--atomic-violet: var(--dark-violet);
		--atomic-lavender: var(--dark-lavender);
		--atomic-purple: var(--dark-purple);
		--atomic-pink: var(--dark-pink);
		--atomic-lightgray: var(--dark-lightgray);
		--atomic-gray: var(--dark-gray);
		--atomic-darkgray: var(--dark-darkgray);
		--atomic-dark: var(--dark-dark);
		--atomic-light: var(--dark-light);
		--atomic-white: var(--dark-white);
		--atomic-black: var(--dark-black);
	}
}