c {
    color: var(--atomic-maroon, var(--color-maroon, maroon))
}

.sticky {
    position: sticky;
    top: 0;
}


[ aria-current="page"] {
    --atomic-currentpage: var(--atomic-primary);
    color: var(--atomic-currentpage) !important;
}

#\(mode\) {
    position: relative;
    max-width: 70px;
    margin: 1rem;
}

#\(toggle\) {
    display: none;

}

#\(toggle\):checked+.toggle:before {
    background: var(--atomic-primary);
}

#\(toggle\):checked+.toggle span {
    transform: translateX(18px);
}

#\(toggle\):checked+.toggle span path {
    stroke: var(--atomic-primary);
    stroke-dasharray: 25;
    stroke-dashoffset: 25;
}

.toggle {
    position: relative;
    display: block;
    width: 42px;
    height: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.toggle:before {
    content: "";
    position: relative;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 22px;
    display: block;
    background: var(--atomic-primary);
    border-radius: 12px;
    transition: background 0.2s ease;
}

.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: var(--atomic-gray);
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
    transition: all 0.2s ease;
}

.toggle span svg {
    margin: 7px;
    fill: none;
}

.toggle span svg path {
    stroke: var(--atomic-primary);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 24;
    stroke-dashoffset: 0;
    transition: all 0.5s linear;
}

.console {
    border: 0.5px solid #dee2e6;
}

.console_pre {
    color: var(--atomic-dark);
    background: #f8f9fa;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.console_header {
    width: 100%;
    margin: 0;
    padding: 8px;
    color: var(--atomic-white);
    background: var(--atomic-darkgray);
    font-weight: 300;
    text-transform: uppercase;
}

.console_html {
    margin-top: 1rem;
    font-weight: 500;
    color: #00124b !important;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.console pre {
    border: 0;
}


/* .radio-tab-toggle {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

.radio-tab-toggle+div {
    height: 0;
    overflow: hidden;
}

.radio-tab-toggle:checked+div {
    height: auto;
} */


/* aside {
    position: absolute;
}
nav {
    height: 2rem;
    background: #ffffff;
    position: relative;
} */
/* nav[role="navigation"],
nav[role="navigation"] ul
{
    height:auto; 
    min-height:auto; 
} */

/* nav[role="navigation"] ul {
    height: auto;
    min-height: auto;
}
 */

header > div {
    padding: 0rem 8px;
}

nav[role="primary-navigation"] {
    padding: 0rem 1rem;
}

#menu li {
    display: none;

}
#menu {
    height: 0;
    margin: 0;
    padding: 0;
    margin-right: auto;
}

#toggle:checked ~ #menu {
    height: 100%;
    animation: sweepHeight .3s ease-in-out;
}

#toggle:checked ~ #menu li {
    display: block;
    margin-left: 0px;
    opacity: 1;
    animation: sweep .3s ease-in-out;
}

#burger {
    position: absolute;
    margin-left: auto;
    cursor: pointer;
    right: 8px;
    top:20px;
}

@keyframes sweep {
    0% {
        opacity: 7.0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}

@keyframes sweepHeight {
    0% {
        opacity: 0;
        height: 0
    }

    100% {
        opacity: 1;
        height: 100%
    }
}