@charset "UTF-8";



.F\(column\),
.F\(colspan\) {
    padding: var(--atomic-0) var(--atomic-1rem);
    display: var(--atomic-flex);
    flex-direction: var(--atomic-column);
    flex-basis: var(--atomic-100pct);
    min-width: var(--atomic-350px);
    flex: var(--atomic-1);

}
.F\(column\) {
    order: 1;
}
.F\(colspan\) {
    flex: var(--atomic-3);
    order: 2;
}

@media (min-width: 768px) {
    .F\(row\) {
        flex-direction: var(--atomic-row)
    }
    .F\(column\) {
        order: 2;
    }

    .F\(colspan\) {
        order: 1
    }
}

.\(center\) {
    display: var(--atomic-grid);
    place-items: var(--atomic-center);
    justify-content: var(--atomic-center);
    align-items: var(--atomic-center);
    text-align: var(--atomic-center);
    margin: var(--atomic-auto);
}

.F\(c\) {
    display: var(--atomic-flex);
    justify-content: var(--atomic-center);
    align-items: var(--atomic-center);
}

.F\(sb\) {
    display: var(--atomic-flex);
    justify-content: var(--atomic-space-between);
    align-items: var(--atomic-center);
}

.F\(sa\) {
    display: var(--atomic-flex);
    justify-content: var(--atomic-space-around);
    align-items: var(--atomic-center);
}

.G\(c\) {
    display: var(--atomic-grid);
    place-items: var(--atomic-center);
}

.F\(row\) {
    padding: var(--atomic-0) var(--atomic-1rem);
    display: var(--atomic-flex);
    flex-direction: var(--atomic-column);
    flex-wrap: var(--atomic-wrap);
    width: var(--atomic-100pct)
}


