{% set css %}
  {% include "./modal.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<div id="modalPopUpTop" class="modal modal_card">
  <div class="modal-content">

      <span id="closeModalPopUpTop" class="close">&times;</span>

      <div class="modal_info">
         <em style="text-transform:uppercase;color:white;">Subscribe to receive notifications about new promotions</em>
      </div>

      {% include "partials/form/popup/popup.njk" %}
    
  </div>
</div>

{% set js %}
  {% include "./modal.js" %} 
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>