.background_gradient-1 {
    background: -webkit-gradient(linear, right top, left top, color-stop(70%, var(--color-primary)), to(rgba(24, 25, 26, 0.103))), url("/images/reps_people_2.jpeg");
    background: -o-linear-gradient(right, var(--color-primary) 70%, rgba(24, 25, 26, 0.103) 100%), url("/images/reps_people_2.jpeg");
    background: linear-gradient(to left, var(--color-primary) 70%, rgba(24, 25, 26, 0.103) 100%), url("/images/reps_people_2.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

.background_gradient-1 {
    background: -webkit-gradient(linear, left top, right top, color-stop(70%, var(--color-secondary-dry)), to(rgba(24, 25, 26, 0.103))), url("/images/homepage/PPO.jpg");
    background: -o-linear-gradient(left, var(--color-secondary-dry) 70%, rgba(24, 25, 26, 0.103) 100%), url("/images/homepage/PPO.jpg");
    background: linear-gradient(to right, var(--color-secondary-dry) 70%, rgba(24, 25, 26, 0.103) 100%), url("/images/homepage/PPO.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.background_gradient-1 {
    background: -webkit-gradient(linear, left top, right top, color-stop(70%, var(--color-secondary-dry)), to(rgba(24, 25, 26, 0.103))),
        url("/images/homepage/PPO.jpg");
    background: -o-linear-gradient(left, var(--color-secondary-dry) 70%, rgba(24, 25, 26, 0.103) 100%),
        url("/images/homepage/PPO.jpg");
    background: linear-gradient(to right, var(--color-secondary-dry) 70%, rgba(24, 25, 26, 0.103) 100%),
        url("/images/homepage/PPO.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}







.backgroundGradient-1 {
    background-image: linear-gradient(to top, #fafafa, #fbfbfb, #fcfcfc, #fdfdfd, #fefefe, #fefefe, #fefefe, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb, #fafafa);
}

.backgroundGradient-2 {
    background-image: linear-gradient(to bottom, #fafafa, #fbfbfb, #fcfcfc, #fdfdfd, #fefefe, #fefefe, #fefefe, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb, #fafafa);
}

.backgroundGradient-3 {
    background: var(--color-secondary);
    background: -webkit-linear-gradient(to right, var(--color-primary), var(--color-secondary));
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

.backgroundGradient-4 {
    background: #762601;
    background: -webkit-linear-gradient(right, #762601, #FF5607);
    background: -moz-linear-gradient(right, #762601, #FF5607);
    background: linear-gradient(to left, #762601, #FF5607);
}

.backgroundGradient-5 {
    background: var(--color-light);
    background: -webkit-linear-gradient(to right, var(--color-white), var(--color-light));
    background: linear-gradient(to right, var(--color-white), var(--color-light));
}

.backgroundGradient-6 {
    background: var(--color-light);
    background: -webkit-linear-gradient(to left, var(--color-white), var(--color-light));
    background: linear-gradient(to left, var(--color-white), var(--color-light));
}

.backgroundGradient-7 {
    background: #762601;
    background: -webkit-linear-gradient(right, #762601, #FF5607);
    background: -moz-linear-gradient(right, #762601, #FF5607);
    background: linear-gradient(to left, #762601, #FF5607);
}

.backgroundGradient-8 {
    background: rgba(240, 240, 240, 1.0);
    background: -webkit-linear-gradient(right, rgba(240, 240, 240, 1.0), rgba(248, 248, 248, 1.0));
    background: -moz-linear-gradient(right, rgba(240, 240, 240, 1.0), rgba(248, 248, 248, 1.0));
    background: linear-gradient(to left, rgba(240, 240, 240, 1.0), rgba(248, 248, 248, 1.0));
}

.backgroundGradient-9 {
    background: var(--color-secondary);
    background: -webkit-linear-gradient(to left, var(--color-primary), var(--color-secondary));
    background: linear-gradient(to left, var(--color-primary), var(--color-secondary));
}

.backgroundImageGradient-1 {
    background: linear-gradient(to left, var(--color-primary-rgba), var(--color-secondary-rgba)),
        url("/images/abstract_11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}

.backgroundImageGradient-2 {
    background: -webkit-gradient(linear, left top, right top, color-stop(70%, var(--color-secondary)), to(rgba(24, 25, 26, 0.103))), url("/images/reps_people_2.jpeg");
    background: -o-linear-gradient(left, var(--color-secondary) 30%, rgba(24, 25, 26, 0.103) 100%), url("/images/reps_people_2.jpeg");
    background: linear-gradient(to right, var(--color-secondary) 30%, rgba(24, 25, 26, 0.103) 100%), url("/images/reps_people_2.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}



.backgroundImage-2 {
    background-image: url("/images/abstract_11.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.backgroundImage-3 {
    background-image: url("/images/abstract_9.png");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
}

.backgroundImage-4 {
    background-image: url("/images/scattered-orange.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.backgroundImage-5 {
    background-image: url("/images/scattered.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

.backgroundImage-dotted {
    background-image: url("/images/dotted_8.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 5000;
}



/* .backgroundImage-pattern {
    background-image: url("/images/abstract_9.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
} */

.backgroundImage__1 {
    background: var(--color-dark);
    /* background: url("/images/logos/logo-white-1.png"); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.backgroundGradient__1 {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(16, 16, 16, 0.2) 0%, var(--color-black) 100%);

}

.backgroundGradient__3 {
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.backgroundGradient__2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    /* background: radial-gradient(circle, rgb(0, 0, 0) 0%,rgb(0, 0, 0) 100%); */
    opacity: 0.6;
}

.backgroundImage__1 {
    background: var(--color-dark);
    background: url("/images/logos/logo-white-1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.position-relative {
    /* background: radial-gradient(circle, rgb(0, 0, 0) 0%,rgb(0, 0, 0) 100%); */
    position: relative;
}



.backgroundImage_abstract_1 {
    background: var(--color-dark);
    background: url("/images/abstacts/abstract_1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.backgroundImage_picture_1 {
    background: var(--color-dark);
    background: url("/images/beach.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}