.backgroundColor-primary {
    background-color: var(--color-primary);
}

.backgroundColor-secondary {
    background-color: var(--color-secondary);
}

.backgroundColor-tertiary {
    background-color: var(--color-tertiary);
}

.backgroundColor-dark {
    background-color: var(--color-dark);
}

.backgroundColor-blue {
    background-color: var(--color-blue);
}

.backgroundColor-orange {
    background-color: var(--color-orange);
}

.backgroundColor-gradient-1 {
    background: rgb(7, 35, 72);
    background-image: radial-gradient(ellipse at right, #004358, #002147);

}

.backgroundColor-gradient-2 {
    background: rgb(7, 99, 160);
    background-image: radial-gradient(ellipse at left, #004358, #002147);
}

.backgroundColor-gradient-3 {
    background: rgb(7, 99, 160);
    background-image: radial-gradient(ellipse closest-side, #004358, #002147);
}

.backgroundColor-light {
    background-color: var(--color-light);
}

.backgroundColor-dark {
    background-color: var(--color-dark);
}

.backgroundColor-white {
    background-color: var(--color-white);
}

.backgroundColor-black {
    background-color: var(--color-black);
}

.backgroundColor-gray {
    background-color: var(--color-gray);
}

.backgroundColor-lightgray {
    background-color: var(--color-lightgray);
}



.textColor-primary {
    color: var(--color-primary);
}

.textColor-secondary {
    color: var(--color-secondary);
}

.textColor-tertiary {
    color: var(--color-tertiary);
}

.textColor-quaternary {
    color: var(--color-quaternary);
}

.textColor-white {
    color: var(--color-white) !important;
}

.textColor-black {
    color: var(--color-black);
}

.textColor-orange {
    color: var(--color-orange);
}

.textColor-blue {
    color: var(--color-blue);
}

.textColor-green {
    color: var(--color-green);
}
.textColor-red {
    color: var(--color-red);
}
.textColor-light {
    color: var(--color-light);
}

.textColor-gray {
    color: var(--color-gray);
}

.textColor-lightgray {
	color:var(--color-lightgray)
}
.textColor-link {
    color: var(--color-link);
}

.textColor-link:hover {
    color: var(--color-link-hover)
}

.backdropColor-1 {
    filter: drop-shadow(0 0 0.75rem rgb(85, 130, 255));

}

.backdropColor-2 {
    filter: drop-shadow(0 0 1rem rgb(85, 130, 255));

}

.backdropColor-3 {
    filter: drop-shadow(0 0 1.35rem rgb(85, 130, 255));

}

.backdropColor-4 {
    filter: drop-shadow(0 0 1.35rem rgb(196, 248, 245));

}

.boxshadow-1 {
    box-shadow: var(--box-shadow-1);
}
