.floating-element {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
}

.floating-element img {
    /* width: 100%; */
    padding: 1rem;
    height: auto;
    filter: drop-shadow(0 0 0.75rem rgb(85, 130, 255));

}
.floating-element-ltr {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: floatLTR 6s ease-in-out infinite;
    animation: floatLTR 6s ease-in-out infinite;
}




@-webkit-keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }

    50% {
        -webkit-transform: translatey(-20px);
        transform: translatey(-20px);
    }

    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}

@keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }

    50% {
        -webkit-transform: translatey(-20px);
        transform: translatey(-20px);
    }

    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}






@-webkit-keyframes floatLTR {
    0% {
        -webkit-transform: translatey(0px);
        transform: translate(0px);
    }

    50% {
        -webkit-transform: translatey(20px);
        transform:  translate(20px,0);
    }

    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}

@keyframes floatLTR {
    0% {
        -webkit-transform: translatey(0px);
        transform: translate(0px);
    }

    50% {
        -webkit-transform: translatey(20px);
        transform:  translate(20px,0);
    }

    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}


