@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	src: url('/fonts/OpenSans-Regular.ttf');
	text-rendering: optimizeLegibility;
	font-display: swap;

}

@font-face {
	font-family: 'Archivo Black';
	font-style: normal;
	src: url('/fonts/ArchivoBlack-Regular.ttf');
	text-rendering: optimizeLegibility;
	font-display: swap;

}


@font-face {
	font-family: 'Bree Serif';
	font-style: normal;
	src: url('/fonts/BreeSerif-Regular.ttf');
	text-rendering: optimizeLegibility;
	font-display: swap;
} 
