.link {
	padding:0;
	display: flex;
	align-items: center;
	font-size: 15px;
	text-shadow: none;
	color: var(--color-link);
	font-weight: 600;
	-webkit-transition: ease .5s;
	-o-transition: ease .5s;
	transition: ease .5s;
	text-underline-position: under;
}

.link:hover {
	/* text-decoration: underline; */
	color: var(--color-link-hover);

}
.link >svg {
	margin-left: 8px;
}

.link:hover>svg {
	-webkit-transition: ease .5s;
	-o-transition: ease .5s;
	transition: ease .5s;
	fill: var(--color-link-hover);
}


.link_primary {
	padding:0;
	text-shadow: none;
	color: var(--color-primary);
	font-weight: 600;
	-webkit-transition: ease .5s;
	-o-transition: ease .5s;
	transition: ease .5s;
	text-underline-position: under;
}
.link_primary:hover {
	color: var(--color-secondary);
}

.inline-link {
	color:cyan;
	text-decoration: underline cyan;
}