.overlap-1,
.overlap-2,
.overlap-3 {
	transition: ease all 300ms;
	padding: 1rem;
	background: var(--color-light);
	box-shadow: var(--box-shadow-4);
	/* border: 1px solid var(--color-primary); */
	
}

@media(min-width:1024px) {
	.overlap-1 {
		transition: ease all 300ms;
		padding: 5rem;
		min-height: 599px;
		margin-top: -120px;
	}

	.overlap-2 {
		min-height: 599px;
		margin-bottom: -200px;
	}

	.overlap-3 {
		min-height: 599px;
		margin-bottom: -260px;
	}
}
