.textShadow-1 {
	text-shadow: 0 0 6px #000000;
}
.textShadow-2 {
	text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.textShadow-white {
	text-shadow: 1px 1px var(--color-white);
}

.textShadow-black {
	text-shadow: 1px 1px var(--color-black);
}

.textShadow-primary {
	text-shadow: 1px 1px var(--color-primary);
}

.text-Upper {
	text-transform: uppercase;
}

