@media(min-width:768px) {
	html {
		font-size: 16px;
	}
}

@media(min-width:1024px) {
	html {
		font-size: 17px;
	}
}

@media(min-width:1268px) {
	html {
		font-size: 18px;
	}
}

@media(min-width:1366px) {
	html {
		font-size: 19px;
	}
}

h1 {
	font-size: 56px;
	font-family: var(--font-family-2);
	font-weight: 600;
	text-transform: uppercase;
}

h2 {
	font-size: 48px;
	line-height: 1;
	font-family: var(--font-family-2);
	font-weight: 600;
}

h3 {
	font-size: 32px;
	font-family: var(--font-theme-secondary);
	font-weight: 300;
}

h4 {
	font-size: 16px;
	font-family: var(--font-theme-secondary);
	font-weight: 300;
}

a {
	font-size: 16px;
	font-family: var(--font-theme-tertiary);
	font-weight: 300;
}

p {
	font-size: 16px;
	font-family: var(--font-theme-tertiary);
	font-weight: 300;
}

h1,
.h1 {
	font-size: 24px;
	font-weight: 900;
	font-family: var(--font-family-2);
	line-height: 1;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

h2,
.h2 {
	font-size: 19px;
	font-weight: 600;
	font-family: var(--font-family-2);
	line-height: 1;
}

h3,
.h3 {
	font-size: 19px;
	font-weight: 400;
	font-family: var(--font-family-2);
	line-height: 1;
}

h4,
.h4 {
	margin-top: 2rem;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-family: var(--font-family-2);
}

@media(min-width:1024px) {
	h1,
	.h1 {
		font-size: 48px;
	}

	h2,
	.h2 {
		font-size: 32px;
	}

	h3,
	.h3 {
		font-size: 24px;
	}
}

@media(min-width:1268px) {
	h1,
	.h1 {
		font-size: 56px;
	}

	h2,
	.h2 {
		font-size: 48px;
	}

	h3,
	.h3 {
		font-size: 32px;
	}
}

.lead-1 {
	font-size: 19px;
	font-weight: 400;
}

.lead {
	font-size: 1.8rem;
	font-weight: 600;
}
.print {
	font-size: 12px!important;
	font-weight: 600;
	text-transform: uppercase;
}




.fontSize-1 {
	font-size: 16px;
}

.fontSize-2 {
	font-size: 19px;
}

.fontSize-3 {
	font-size: 24px;
}

.fontSize-4 {
	font-size: 32px;
}
.fontSize-5 {
	font-size: 32px;
}

@media(min-width:1024px) {

	.fontSize-small {
		font-size: 14.5px;
	}

	.fontSize-medium {
		font-size: 1.1rem
	}

	.fontSize-large {
		font-size: 2.2rem;
	}

	.fontSize-2 {
		font-size: 24px;
	}
	
	.fontSize-3 {
		font-size: 32px;
	}
	
	.fontSize-4 {
		font-size: 42px;
	}
	.fontSize-5 {
		font-size: 56px;
	}



}
