:root{
	--atomic-primary: #0000ff;
	--atomic-secondary: #000088;
	--atomic-tertiary: #5a5aff;
	--atomic-orange: #fe6e00;
	--atomic-blue: #2424d8;
	--atomic-red: #bb1212;
	--atomic-green: #2bb82b;
	--atomic-lightgreen: lightgreen;
	--atomic-white: #ffffff;
	--atomic-black: #040707;
	--atomic-light: #ededed;
	--atomic-dark: #040707;
	--atomic-gray: #9a9a9a;
	--atomic-lightgray: #dcdcdc;
	--atomic-darkgray: #909191;
	--atomic-link: #004cbf;
	--atomic-link-hover: #009df9;
	--atomic-link-active: #037dc4;
	--atomic-box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(235, 235, 235, 0.24);
	--atomic-box-shadow-2: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	--atomic-box-shadow-3: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	--atomic-box-shadow-4: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
	--atomic-box-shadow-5: 0px 0px 16px 8px rgba(0, 0, 0, 0.16);
	--atomic-box-shadow-6: 0px 5px 64px -32px rgba(0, 0, 0, 0.397);
	--atomic-box-shadow-7: rgba(0, 0, 0, 0.448) 0px 3px 6px, rgba(0, 0, 0, 0.496) 0px 6px 12px;
	--atomic-box-shadow-8: -4px 0px 9px 3px rgba(215, 223, 34, 0.63);
	--atomic-font-family-1: 'Open Sans';
	--atomic-font-family-2: 'Archivo Black';
	--atomic-font-family-3: 'Bree Serif';

	--atomic-block: block;
	--atomic-grid: grid;
	--atomic-flex: flex;
	--atomic-inline-block: inline-block;
	--atomic-inline-grid: inline-grid;
	--atomic-inline-flex: inline-flex;

	--atomic-nowrap: nowrap;
	--atomic-wrap: wrap;
	--atomic-flex-column: column;
	--atomic-flex-row: row;
	--atomic-flex-start: flex-start;
	--atomic-flex-end: flex-end;
	--atomic-space-around: space-around;
	--atomic-space-between: space-between;
	--atomic-baseline: baseline;
	--atomic-stretch: stretch;
	--atomic-center: center;
	--atomic-left: left;
	--atomic-right: right;
	--atomic-auto: auto;
	--atomic-none: none;
	--atomic-0: 0;
	--atomic-1: 1;
	--atomic-2: 2;
	--atomic-3: 3;
	--atomic-4: 4;
	--atomic-5: 5;
	--atomic-6: 6;
	--atomic-7: 7;
	--atomic-8: 8;
	--atomic-9: 9;
	--atomic-10: 10;
	--atomic-11: 11;
	--atomic-12: 12;
	--atomic-13: 13;
	--atomic-14: 14;
	--atomic-15: 15;
	--atomic-16: 16;
	--atomic-17: 17;
	--atomic-18: 18;
	--atomic-19: 19;
	--atomic-20: 20;
	--atomic-21: 21;
	--atomic-22: 22;
	--atomic-23: 23;
	--atomic-24: 24;
	--atomic-25: 25;
	--atomic-26: 26;
	--atomic-27: 27;
	--atomic-28: 28;
	--atomic-29: 29;
	--atomic-30: 30;
	--atomic-31: 31;
	--atomic-32: 32;
	--atomic-40: 40;
	--atomic-50: 50;
	--atomic-56: 56;
	--atomic-60: 60;
	--atomic-64: 64;
	--atomic-70: 70;
	--atomic-80: 80;
	--atomic-90: 90;
	--atomic-100: 100;
	--atomic-200: 200;
	--atomic-300: 300;
	--atomic-400: 400;
	--atomic-500: 500;
	--atomic-600: 600;
	--atomic-1px: 1px;
	--atomic-2px: 2px;
	--atomic-3px: 3px;
	--atomic-4px: 4px;
	--atomic-5px: 5px;
	--atomic-6px: 6px;
	--atomic-7px: 7px;
	--atomic-8px: 8px;
	--atomic-9px: 9px;
	--atomic-10px: 10px;
	--atomic-11px: 11px;
	--atomic-12px: 12px;
	--atomic-13px: 13px;
	--atomic-14px: 14px;
	--atomic-15px: 15px;
	--atomic-16px: 16px;
	--atomic-17px: 17px;
	--atomic-18px: 18px;
	--atomic-19px: 19px;
	--atomic-20px: 20px;
	--atomic-21px: 21px;
	--atomic-22px: 22px;
	--atomic-23px: 23px;
	--atomic-24px: 24px;
	--atomic-25px: 25px;
	--atomic-26px: 26px;
	--atomic-27px: 27px;
	--atomic-28px: 28px;
	--atomic-29px: 29px;
	--atomic-30px: 30px;
	--atomic-31px: 31px;
	--atomic-32px: 32px;
	--atomic-40px: 40px;
	--atomic-50px: 50px;
	--atomic-56px: 56px;
	--atomic-60px: 60px;
	--atomic-64px: 64px;
	--atomic-70px: 70px;
	--atomic-80px: 80px;
	--atomic-90px: 90px;
	--atomic-100px: 100px;
	--atomic-200px: 200px;
	--atomic-300px: 300px;
	--atomic-499px: 499px;
	--atomic-768px: 768px;
	--atomic-1024px: 1024px;
	--atomic-1268px: 1268px;
	--atomic-1366px: 1366px;
	--atomic-1rem: 1rem;
	--atomic-2rem: 2rem;
	--atomic-3rem: 3rem;
	--atomic-4rem: 4rem;
	--atomic-5rem: 5rem;
	--atomic-6rem: 6rem;
	--atomic-7rem: 7rem;
	--atomic-8rem: 8rem;
	--atomic-9rem: 9rem;
	--atomic-10rem: 10rem;
	--atomic-0pct: 0%;
	--atomic-10pct: 10%;
	--atomic-20pct: 20%;
	--atomic-30pct: 30%;
	--atomic-40pct: 40%;
	--atomic-50pct: 50%;
	--atomic-60pct: 60%;
	--atomic-70pct: 70%;
	--atomic-80pct: 80%;
	--atomic-90pct: 90%;
	--atomic-100pct: 100%;
	--atomic-solid: solid;
	--atomic-dotted: dotted;
	--atomic-double: double;
	--atomic-solid-1px: var(--atomic-solid) var(--atomic-1px);
}
/* body > * {
	display: var(--atomic-display);
	flex-direction:var(--atomic-flex-direction);
	justify-content:var(--atomic-justify-content);
	align-items:var(--atomic-align-items);
	font-size: var(--atomic-font-size);
	font-family: var(--atomic-font-family);
	text-align: var(--atomic-text-align);
	background-color: var(--atomic-background-color);
	width:var(--atomic-width);
	height:var(--atomic-height);
	border:var(--atomic-border);
	box-shadow:var(--atomic-box-shadow);
} */


[class*="Ta"] 						{ text-align:var(--atomic-text-align) }
[class*="Ta"][class*="(c)"] 		{ --atomic-text-align:var(--atomic-center) }
[class*="Ta"][class*="(r)"] 		{ --atomic-text-align: var(--atomic-right) }
[class*="Ta"][class*="(l)"]  		{ --atomic-text-align: var(--atomic-left) }

[class*="C"]						{ color: var(--atomic-color) }
[class*="C"][class*="(primary)"] 	{ --atomic-color: var(--atomic-primary) }
[class*="C"][class*="(seconday)"] 	{ --atomic-color: var(--atomic-seconday) }
[class*="C"][class*="(tertiary)"] 	{ --atomic-color: var(--atomic-tertiary) }
[class*="C"][class*="(light)"] 		{ --atomic-color: var(--atomic-light) }
[class*="C"][class*="(gray)"] 		{ --atomic-color: var(--atomic-gray) }
[class*="C"][class*="(black)"] 		{ --atomic-color: var(--atomic-black) }
[class*="C"][class*="(white)"] 		{ --atomic-color: var(--atomic-white) }
[class*="C"][class*="(blue)"] 		{ --atomic-color: var(--atomic-blue) }
[class*="C"][class*="(red)"]		{ --atomic-color: var(--atomic-red) }
[class*="C"][class*="(green)"] 		{ --atomic-color: var(--atomic-green) }
[class*="C"][class*="(orange)"]		{ --atomic-color: var(--atomic-orange) }

[class*="Bg"]						{ background-color: var(--atomic-background-color) }
[class*="Bg"][class~="(primary)"] 	{ --atomic-background-color: var(--atomic-primary) }
[class*="Bg"][class*="(seconday)"] 	{ --atomic-background-color: var(--atomic-seconday) }
[class*="Bg"][class*="(tertiary)"] 	{ --atomic-background-color: var(--atomic-tertiary) }
[class*="Bg"][class*="(light)"] 	{ --atomic-background-color: var(--atomic-light) }
[class*="Bg"][class*="(gray)"] 		{ --atomic-background-color: var(--atomic-gray) }
[class*="Bg"][class*="(black)"] 	{ --atomic-background-color: var(--atomic-black) }
[class*="Bg"][class*="(white)"] 	{ --atomic-background-color: var(--atomic-white) }
[class*="Bg"][class*="(blue)"] 		{ --atomic-background-color: var(--atomic-blue) }
[class*="Bg"][class*="(red)"]		{ --atomic-background-color: var(--atomic-red) }
[class*="Bg"][class*="(green)"] 	{ --atomic-background-color: var(--atomic-green) }
[class*="Bg"][class~="(orange)"] 	{ --atomic-background-color: var(--atomic-orange) }

[class*="Bs"] 						{ box-shadow: var(--atomic-box-shadow) }
[class*="Bs"][class*="(1)"] 		{ --atomic-box-shadow: var(--atomic-box-shadow-1) }
[class*="Bs"][class*="(2)"] 		{ --atomic-box-shadow: var(--atomic-box-shadow-2) }
[class*="Bs"][class*="(3)"] 		{ --atomic-box-shadow: var(--atomic-box-shadow-3) }
[class*="Bs"][class*="(4)"] 		{ --atomic-box-shadow: var(--atomic-box-shadow-4) }

[class*="Fs"] 						{ font-size: var(--atomic-font-size) }
[class*="Fs"][class*="(1r)"] 		{ --atomic-font-size: var(--atomic-1rem) }
[class*="Fs"][class*="(2r)"] 		{ --atomic-font-size: var(--atomic-2rem) }
[class*="Fs"][class*="(3r)"] 		{ --atomic-font-size: var(--atomic-3rem) }
[class*="Fs"][class*="(4r)"] 		{ --atomic-font-size: var(--atomic-4rem) }
[class*="Fs"][class*="(5r)"] 		{ --atomic-font-size: var(--atomic-5rem) }
[class*="Fs"][class*="(6r)"] 		{ --atomic-font-size: var(--atomic-6rem) }
[class*="Fs"][class*="(7r)"] 		{ --atomic-font-size: var(--atomic-7rem) }
[class*="Fs"][class*="(8r)"] 		{ --atomic-font-size: var(--atomic-8rem) }
[class*="Fs"][class*="(9r)"] 		{ --atomic-font-size: var(--atomic-9rem) }
[class*="Fs"][class*="(10r)"] 		{ --atomic-font-size: var(--atomic-10rem) }

[class*="Ff"] 						{ font-family: var(--atomic-font-family) }
[class*="Ff"][class*="(1r)"] 		{ --atomic-font-family: var(--atomic-font-family-1) }
[class*="Ff"][class*="(2r)"] 		{ --atomic-font-family: var(--atomic-font-family-2) }
[class*="Ff"][class*="(3r)"] 		{ --atomic-font-family: var(--atomicfont-family-3) }

[class*="Fw"]						{ padding: var(--atomic-font-weight) }
[class*="Fw"][class*="(100)"]		{ --atomic-font-weight: var(--atomic-100) }
[class*="Fw"][class*="(200)"]		{ --atomic-font-weight: var(--atomic-200) }
[class*="Fw"][class*="(300)"]		{ --atomic-font-weight: var(--atomic-300) }
[class*="Fw"][class*="(400)"]		{ --atomic-font-weight: var(--atomic-400) }
[class*="Fw"][class*="(500)"]		{ --atomic-font-weight: var(--atomic-500) }
[class*="Fw"][class*="(600)"]		{ --atomic-font-weight: var(--atomic-600) }

[class*="Ml"]						{ margin-left: var(--atomic-margin-left) }
[class*="Ml"][class*="(a)"]			{ --atomic-margin-left: var(--atomic-auto)	}
[class*="Ml"][class*="(0r)"]		{ --atomic-margin-left: var(--atomic-0) }
[class*="Ml"][class*="(1r)"]		{ --atomic-margin-left: var(--atomic-1rem) }
[class*="Ml"][class*="(2r)"]		{ --atomic-margin-left: var(--atomic-2rem) }
[class*="Ml"][class*="(3r)"]		{ --atomic-margin-left: var(--atomic-3rem) }
[class*="Ml"][class*="(4r)"]		{ --atomic-margin-left: var(--atomic-4rem) }
[class*="Ml"][class*="(5r)"]		{ --atomic-margin-left: var(--atomic-5rem) }
[class*="Ml"][class*="(6r)"]		{ --atomic-margin-left: var(--atomic-6rem) }

[class*="Mr"]						{ margin-right: var(--atomic-margin-right) }
[class*="Mr"][class*="(a)"]			{ --atomic-margin-right: var(--atomic-auto) }
[class*="Mr"][class*="(0r)"]		{ --atomic-margin-right: var(--atomic-0) }
[class*="Mr"][class*="(1r)"]		{ --atomic-margin-right: var(--atomic-1rem) }
[class*="Mr"][class*="(2r)"]		{ --atomic-margin-right: var(--atomic-2rem) }
[class*="Mr"][class*="(3r)"]		{ --atomic-margin-right: var(--atomic-3rem) }
[class*="Mr"][class*="(4r)"]	 	{ --atomic-margin-right: var(--atomic-4rem) }
[class*="Mr"][class*="(5r)"]		{ --atomic-margin-right: var(--atomic-5rem) }
[class*="Mr"][class*="(6r)"]		{ --atomic-margin-right: var(--atomic-6rem) }

[class*="Mg"]						{ margin: var(--atomic-margin) }
[class*="Mg"][class*="(a)"]			{ --atomic-margin: var(--atomic-auto) }
[class*="Mg"][class*="(0r)"]		{ --atomic-margin: var(--atomic-0) }
[class*="Mg"][class*="(1r)"]		{ --atomic-margin: var(--atomic-1rem) }
[class*="Mg"][class*="(2r)"]		{ --atomic-margin: var(--atomic-2rem) }
[class*="Mg"][class*="(3r)"]		{ --atomic-margin: var(--atomic-3rem) }
[class*="Mg"][class*="(4r)"]	 	{ --atomic-margin: var(--atomic-4rem) }
[class*="Mg"][class*="(5r)"]		{ --atomic-margin: var(--atomic-5rem) }
[class*="Mg"][class*="(6r)"]		{ --atomic-margin: var(--atomic-6rem) }

[class*="Lh"]						{ line-height: var(--atomic-line-height) }
[class*="Lh"][class*="(0)"]			{ --atomic-line-height: var(--atomic-0) }
[class*="Lh"][class*="(1)"]		 	{ --atomic-line-height: var(--atomic-1) }
[class*="Lh"][class*="(2)"]		 	{ --atomic-line-height: var(--atomic-2) }
[class*="Lh"][class*="(3)"]			{ --atomic-line-height: var(--atomic-3) }

[class*="Pd"]						{ padding: var(--atomic-padding) }
[class*="Pd"][class*="(0)"]			{ --atomic-padding: var(--atomic-0) }
[class*="Pd"][class*="(1r)"] 		{ --atomic-padding: var(--atomic-1rem) }
[class*="Pd"][class*="(2r)"] 		{ --atomic-padding: var(--atomic-2rem) }
[class*="Pd"][class*="(3r)"] 		{ --atomic-padding: var(--atomic-3rem) }
[class*="Pd"][class*="(4r)"] 		{ --atomic-padding: var(--atomic-4rem) }
[class*="Pd"][class*="(5r)"] 		{ --atomic-padding: var(--atomic-5rem) }
[class*="Pd"][class*="(6r)"]		{ --atomic-padding: var(--atomic-6rem) }
[class*="Pd"][class*="(7r)"] 		{ --atomic-padding: var(--atomic-7rem) }
[class*="Pd"][class*="(8r)"]		{ --atomic-padding: var(--atomic-8rem) }
[class*="Pd"][class*="(9r)"] 		{ --atomic-padding: var(--atomic-9rem) }
[class*="Pd"][class*="(10r)"] 		{ --atomic-padding: var(--atomic-10rem)}
[class*="Pd"][class*="(1p)"]		{ --atomic-padding: var(--atomic-1px) }
[class*="Pd"][class*="(2p)"] 		{ --atomic-padding: var(--atomic-2px) }
[class*="Pd"][class*="(3p)"] 		{ --atomic-padding: var(--atomic-3px) }
[class*="Pd"][class*="(4p)"] 		{ --atomic-padding: var(--atomic-4px) }
[class*="Pd"][class*="(5p)"] 		{ --atomic-padding: var(--atomic-5px) }
[class*="Pd"][class*="(6p)"] 		{ --atomic-padding: var(--atomic-6px) }
[class*="Pd"][class*="(7p)"] 		{ --atomic-padding: var(--atomic-7px) }
[class*="Pd"][class*="(8p)"] 		{ --atomic-padding: var(--atomic-8px) }
[class*="Pd"][class*="(9p)"]		{ --atomic-padding: var(--atomic-9px) }
[class*="Pd"][class*="(10p)"]		{ --atomic-padding: var(--atomic-10px) }
[class*="Pd"][class*="(11p)"]		{ --atomic-padding: var(--atomic-11px) }
[class*="Pd"][class*="(12p)"] 		{ --atomic-padding: var(--atomic-12px) }
[class*="Pd"][class*="(13p)"]		{ --atomic-padding: var(--atomic-13px) }
[class*="Pd"][class*="(14p)"]		{ --atomic-padding: var(--atomic-14px) }
[class*="Pd"][class*="(15p)"] 		{ --atomic-padding: var(--atomic-15px) }
[class*="Pd"][class*="(16p)"] 		{ --atomic-padding: var(--atomic-16px) }
[class*="Pd"][class*="(24p)"] 		{ --atomic-padding: var(--atomic-24px) }
[class*="Pd"][class*="(32p)"] 		{ --atomic-padding: var(--atomic-32px) }

[class*="D"]						{ display: var(--atomic-display) }
[class*="D"][class*="(inline)"] 	{ --atomic-display: var(--atomic-inline) }
[class*="D"][class*="(flex)"] 		{ --atomic-display: var(--atomic-flex) }
[class*="D"][class*="(iflex)"]    	{ --atomic-display: var(--atomic-inline-flex) }
[class*="D"][class*="(block)"] 		{ --atomic-display: var(--atomic-block) }
[class*="D"][class*="(iblock)"]    	{ --atomic-display: var(--atomic-inline-block) }
[class*="D"][class*="(grid)"] 		{ --atomic-display: var(--atomic-grid) }
[class*="D"][class*="(igrid)"]    	{ --atomic-display: var(--atomic-inline-grid) }

[class*="Fw"]						{ flex-wrap: var(--atomic-flex-wrap) }
[class*="Fw"][class*="(nw)"] 		{ --atomic-flex-wrap: var(--atomic-nowrap) }
[class*="Fw"][class*="(w)"] 		{ --atomic-flex-wrap: var(--atomic-wrap) }

[class*="Fd"]						{ flex-direction: var(--atomic-flex-direction) }
[class*="Fd"][class*="(col)"] 		{ --atomic-flex-direction:var(--atomic-flex-col) }
[class*="Fd"][class*="(row)"] 		{ --atomic-flex-direction:var(--atomic-flex-row) }

[class*="Jc"]						{ justify-content: var(--atomic-justify-content) }
[class*="Jc"][class*="(fs)"] 		{ --atomic-justify-content: var(--atomic-flex-start) }
[class*="Jc"][class*="(fe)"]  	 	{ --atomic-justify-content: var(--atomic-flex-end) }
[class*="Jc"][class*="(sa)"]  		{ --atomic-justify-content: var(--atomic-space-around) }
[class*="Jc"][class*="(sb)"]   		{ --atomic-justify-content: var(--atomic-space-between) }
[class*="Jc"][class*="(c)"]   		{ --atomic-justify-content: var(--atomic-center) }

[class*="Ai"]						{ align-items: var(--atomic-align-items) }
[class*="Ai"][class*="(fs)"] 		{ --atomic-align-items: var(--atomic-flex-start) }
[class*="Ai"][class*="(fe)"]  		{ --atomic-align-items: var(--atomic-flex-end) }
[class*="Ai"][class*="(bs)"]   		{ --atomic-align-items: var(--atomic-baseline) }
[class*="Ai"][class*="(st)"]   		{ --atomic-align-items: var(--atomic-stretch) }
[class*="Ai"][class*="(c)"]   		{ --atomic-align-items: var(--atomic-center) }

[class*="W"]						{ display: var(--atomic-width) }
[class*="W"][class*="(0)"] 			{ --atomic-width: var(--atomic-0) }
[class*="W"][class*="(10%)"] 		{ --atomic-width: var(--atomic-10pct) }
[class*="W"][class*="(20%)"]		{ --atomic-width: var(--atomic-20pct) }
[class*="W"][class*="(30%)"]		{ --atomic-width: var(--atomic-30pct) }
[class*="W"][class*="(40%)"]		{ --atomic-width: var(--atomic-40pct) }
[class*="W"][class*="(50%)"]		{ --atomic-width: var(--atomic-50pct) }
[class*="W"][class*="(60%)"]		{ --atomic-width: var(--atomic-60pct) }
[class*="W"][class*="(70%)"]		{ --atomic-width: var(--atomic-70pct) }
[class*="W"][class*="(80%)"] 		{ --atomic-width: var(--atomic-80pct) }
[class*="W"][class*="(90%)"]		{ --atomic-width: var(--atomic-90pct) }
[class*="W"][class*="(100%)"]		{ --atomic-width: var(--atomic-100pct) }

[class*="Mnw"]						{ min-width: var(--atomic-min-width) }
[class*="Mnw"][class*="(0)"] 		{ --atomic-min-width: var(--atomic-0) }
[class*="Mnw"][class*="(10p)"] 		{ --atomic-min-width: var(--atomic-10px) }
[class*="Mnw"][class*="(20p)"] 		{ --atomic-min-width: var(--atomic-20px) }
[class*="Mnw"][class*="(30p)"]		{ --atomic-min-width: var(--atomic-30px) }
[class*="Mnw"][class*="(40p)"] 		{ --atomic-min-width: var(--atomic-40px) }
[class*="Mnw"][class*="(50p)"] 		{ --atomic-min-width: var(--atomic-50px) }
[class*="Mnw"][class*="(60p)"]		{ --atomic-min-width: var(--atomic-60px) }
[class*="Mnw"][class*="(70p)"]		{ --atomic-min-width: var(--atomic-70px) }
[class*="Mnw"][class*="(80p)"] 		{ --atomic-min-width: var(--atomic-80px) }
[class*="Mnw"][class*="(90p)"]		{ --atomic-min-width: var(--atomic-90px) }
[class*="Mnw"][class*="(100p)"]		{ --atomic-min-width: var(--atomic-100px) }
[class*="Mnw"][class*="(150p)"]		{ --atomic-min-width: var(--atomic-150px) }
[class*="Mnw"][class*="(200p)"]		{ --atomic-min-width: var(--atomic-200px) }
[class*="Mnw"][class*="(250p)"]		{ --atomic-min-width: var(--atomic-250px) }
[class*="Mnw"][class*="(300p)"]		{ --atomic-min-width: var(--atomic-300px) }
[class*="Mnw"][class*="(100%)"] 	{ --atomic-min-width: var(--atomic-100px) }

[class*="Mxw"]						{ max-width: var(--atomic-max-width) }
[class*="Mxw"][class*="(0)"] 		{ --atomic-max-width: var(--atomic-0) }
[class*="Mxw"][class*="(499p)"] 	{ --atomic-max-width: var(--atomic-499px) }
[class*="Mxw"][class*="(768p)"] 	{ --atomic-max-width: var(--atomic-768px) }
[class*="Mxw"][class*="(1024p)"]	{ --atomic-max-width: var(--atomic-1024px) }
[class*="Mxw"][class*="(1268p)"]	{ --atomic-max-width: var(--atomic-1268px) }
[class*="Mxw"][class*="(1366p)"]	{ --atomic-max-width: var(--atomic-1366px) }
[class*="Mxw"][class*="(100%)"] 	{ --atomic-max-width: var(--atomic-100pct) }

[class*="Bd"]					   { border: var(--atomic-border) }
[class*="Bd"][class*="(black)"]    { --atomic-border: var(--atomic-solid-1px) var(--atomic-black) }
[class*="Bd"][class*="(white)"]    { --atomic-border: var(--atomic-solid-1px) var(--atomic-white) }
[class*="Bd"][class*="(gray)"]     { --atomic-border: var(--atomic-solid-1px) var(--atomic-gray) }
[class*="Bd"][class*="(blue)"]     { --atomic-border: var(--atomic-solid-1px) var(--atomic-blue) }
[class*="Bd"][class*="(primary)"]  { --atomic-border: var(--atomic-solid-1px) var(--atomic-primary) }







.simple-content * {
	color: black;
}

.section_landings {
	padding: 16px 0;
	height: 100%;
}

@media(min-width:768px) {
	.section_landings {
		height: 75vh;
		display: grid;
		place-items: center;
		padding: 64px 0;
	}
}


.title_banner {
	margin: 0;
	padding: 0;
	line-height: 0.9;
	color: var(--color-primary)
}

@media(max-width:1024px) {
	.title_banner {
		font-size: 2.2rem;
	}
}

@media(min-width:1025px) {
	.title_banner {
		font-size: 4vw;
	}
}

@media(min-width:1366px) {
	.title_banner {
		font-size: 3.2rem;
	}

}

@media(min-width:1024px) {
	.o-2 {
		order: 2;
	}
}

.title_component-full {
	grid-column: 1 / -1;
}

.hr {
	margin: auto;
	max-width: 1024px;
	width: 80%;
	border: 0.5px solid #fafafa1e;
}



.pappersheet {
	margin: 0;
	margin: auto;
	padding: 0;
	padding: 1rem;
	text-align: center;
	background: #fafafa;
	margin-top: -99px !important;
	min-height: 50vh;
	max-width: 100%;
	width: 100%;
	box-shadow: var(--box-shadow-2);
}

.pappersheet a {
	font-size: 2rem;
	color: var(--color-primary)
}

.pappersheet a:hover {
	color: var(--color-secondary)
}

.pappersheet li {
	border-bottom: 0.5px solid #dddd;
	padding: 1rem;
}

.pappersheet li:last-child {
	border-bottom: 0 !important;
}

