<header class="col(-1) Bg(white) D(flex) Ai(c) w(100%)"> 
    <div class="D(flex) Jc(sb) Ai(c) Ml(1m) Mr(1m) W(100%)">  
        <h1 class="D(flex) Ai(c) C(black) Ff(1) Fs(24x)">
            <img src="/images/atomic.svg" alt="Logo" width="50" height="50"> atomic
        </h1>
        <div class="">
            <svg width="32px" height="32px" fill="var(--color-white)">
                <use href="/icons/essentials.svg#icon-github"></use>
            </svg>
        </div>
    </div>
</header>
