{% set css %}
  {% include "./keywords.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<ul class="D(flex) Fd(row) Jc(ct) Ai(ct) Fw(w) Pd(0) Mg(0)">
{% for keyword in keywords %}
    <li class="Bd(gray) Mg(0)"><h4 class="Mg(0)">{{ keyword}}</h4></li>
{% endfor %}
</ul>


{# <ul class="keywords D(felx) Jc(ct) Ai(ct) Fw(w) Pd(0) Mg(0)">
{% for keyword in keywords %}
    <li><h4>{{ keyword}}</h4></li>
{% endfor %}
</ul> #}