 <header>
    <div class="Mxw(768p) M(a) Ta(c) Mnh(100p)">
        <h1 class="P(3r) Fs(6r) Lh(1)">Atomic CSS Native</h1>
        <small>
            <i><q>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a  galley of type and scrambled. </q>
                <p class="Ta(r)"> @andrewrico86</p>
            </i>
        </small>
    </div>
    <hr class="Hr(black) Mxw(1268p) I(c) ">
    <nav>
        <ul>
            <li><a href="/">Documentation</a></li>
        </ul>
    </nav>
</header>



{{ content | safe }}