
<main>
 <div class="F(cw)   ">
            <div class="Mxw(100%) M(1r)">
                <div title="card" class="Bd(gray) Bg(white) Mxw(300p) D(flex) Fd(col) Bs(3)">
                    <div class="P(8p)">
                        <h3 class="Fs(2r) Lh(1) M(0)"> The Cat In the Mirror #1</h3>
                        <h4 class="Fs(12p) Lh(1) C(gray)"> The Cat In the Mirror #1</h4>
                        <p class="Fs(1r) Lh(1.8) C(darkgray)"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="C(blue)">Go somewhere</a>
                    </div>
                </div>
            
            </div>
            <div class="Mxw(100%) M(1r)">
                <div class="Bd(gray) Bg(white) Mxw(300p) D(flex) Fd(col) Bs(3) 
                Bg(secondary):hv">
                    <div class="P(8p)">
                        <h3 class="Fs(2r) Lh(1) M(0)"> The Cat In the Mirror #1</h3>
                        <h4 class="Fs(12p) Lh(1) C(gray)"> The Cat In the Mirror #1</h4>
                        <p class="Fs(1r) Lh(1.8) C(darkgray)"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="C(blue)">Go somewhere</a>
                    </div>
                </div>
            
            </div>


            <div class="Mxw(100%) M(1r)">
                <div title="card" class="Bd(gray) Bg(white) Mxw(300p) D(flex) Fd(col) Bs(3)">
                    <div class="P(8p)">
                        <h3 class="Fs(2r) Lh(1) M(0)"> The Cat In the Mirror #1</h3>
                        <h4 class="Fs(12p) Lh(1) C(gray)"> The Cat In the Mirror #1</h4>
                        <p class="Fs(1r) Lh(1.8) C(darkgray)"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="C(blue)">Go somewhere</a>
                    </div>
                </div>
            
            </div>
        </div>



</main>

{#  

        <div class="F(cw)   ">
            <div class="Mxw(100%) M(1r)">
                <div title="card" class="Bd(gray) Bg(white) Mxw(300p) D(flex) Fd(col) Bs(3)">
                    <div class="P(8p)">
                        <h3 class="Fs(2r) Lh(1) M(0)"> The Cat In the Mirror #1</h3>
                        <h4 class="Fs(12p) Lh(1) C(gray)"> The Cat In the Mirror #1</h4>
                        <p class="Fs(1r) Lh(1.8) C(darkgray)"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="C(blue)">Go somewhere</a>
                    </div>
                </div>
            
            </div>
            <div class="Mxw(100%) M(1r)">
                <div class="Bd(gray) Bg(white) Mxw(300p) D(flex) Fd(col) Bs(3) 
                Bg(secondary):hv">
                    <div class="P(8p)">
                        <h3 class="Fs(2r) Lh(1) M(0)"> The Cat In the Mirror #1</h3>
                        <h4 class="Fs(12p) Lh(1) C(gray)"> The Cat In the Mirror #1</h4>
                        <p class="Fs(1r) Lh(1.8) C(darkgray)"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="C(blue)">Go somewhere</a>
                    </div>
                </div>
            
            </div>


            <div class="Mxw(100%) M(1r)">
                <div title="card" class="Bd(gray) Bg(white) Mxw(300p) D(flex) Fd(col) Bs(3)">
                    <div class="P(8p)">
                        <h3 class="Fs(2r) Lh(1) M(0)"> The Cat In the Mirror #1</h3>
                        <h4 class="Fs(12p) Lh(1) C(gray)"> The Cat In the Mirror #1</h4>
                        <p class="Fs(1r) Lh(1.8) C(darkgray)"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="C(blue)">Go somewhere</a>
                    </div>
                </div>
            
            </div>
        </div>

        <div class="F(row)">
            <div class="F(column)">
                <div class="">
                    <h3 class=" Fs(2r) Lh(1) Fw(600)">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </h3>
                    <p class="Fs(19p) Fw(400) Lh(1.4) C(darkgray)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </div>
            </div>
            <div class="F(column)">
                <div class="">
                    <h3 class=" Fs(2r) Lh(1) Fw(600)">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </h3>
                    <p class="Fs(19p) Fw(400) Lh(1.4) C(darkgray)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </div>
            </div>
        </div>

        <hr class="Hr(black) Mxw(1268p) I(c) ">

        <div class="F(row)">
            <div class="F(column)">
                <details open>
                    <summary class=" Fs(2r) Lh(1) Fw(600)">  
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </summary>
                    <p class="Fs(19p) Fw(400) Lh(1.4) C(darkgray)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </details>

                <details open>
                    <summary class=" Fs(2r) Lh(1) Fw(600)">  
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </summary>
                    <p class="Fs(19p) Fw(400) Lh(1.4) C(darkgray)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </details>

                <details open>
                    <summary class=" Fs(2r) Lh(1) Fw(600)">  
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </summary>
                    <p class="Fs(19p) Fw(400) Lh(1.4) C(darkgray)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </details>

                <details open>
                    <summary class=" Fs(2r) Lh(1) Fw(600)">  
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </summary>
                    <p class="Fs(19p) Fw(400) Lh(1.4) C(darkgray)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </details>
            </div>
        </div>

        <hr class="Hr(black) Mxw(1268p) I(c) ">

        <div class="F(row)">

            <div class="F(colspan)">
                <div class="">
                    <h3 class=" Fs(2r) Lh(1) Fw(600)">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </h3>
                    <p class="Fs(19p) Fw(400) Lh(1.4)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </div>
                <div class="">
                    <h3 class=" Fs(2r) Lh(1) Fw(600)">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </h3>
                    <p class="Fs(19p) Fw(400) Lh(1.4)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </div>
            </div>

            <div class="F(column)">
                <pre class="Bg(light) C(black) Fs(2r)">

               
    body {
        color: red;
    }
                    

                </pre>
            </div>
        </div>



        <div class="F(row)">

            <div class="F(column)">

<pre class="Bg(light) C(black) Fs(24p) Br(4p) Ff(5)">
<div class=" Bg(gray)">CSS Snippet</div>                    
<span class="C(gray)">1</span> body {
<span class=" C(gray)">2</span>   color: red;          
<span class=" C(gray)">3</span> }
<span class=" C(gray)">4</span>   
<span class=" C(gray)">5</span> 
<span class=" C(gray)">6</span>                   
<span class=" C(gray)">7</span>
<span class="C(gray)">8</span>                
</pre>

            </div>


            <div class="F(colspan)">
                <details >
                    <summary class=" Fs(1r) Lh(1) Fw(600)">  
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </summary>
                    <p class="Fs(19p) Fw(400) Lh(1.4) C(gray)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </details>

                <details >
                    <summary class=" Fs(1r) Lh(1) Fw(600)">  
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </summary>
                    <p class="Fs(19p) Fw(400) Lh(1.4) C(gray)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </details>

                <details >
                    <summary class=" Fs(1r) Lh(1) Fw(600)">  
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </summary>
                    <p class="Fs(19p) Fw(400) Lh(1.4) C(gray)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </details>

                <details >
                    <summary class=" Fs(1r) Lh(1) Fw(600)">  
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </summary>
                    <p class="Fs(19p) Fw(400) Lh(1.4) C(gray)">
                        Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Delectus cum ex, culpa aspernatur officiis omnis suscipit aliquam autem deserunt asperiores, impedit maxime  libero enim qui maiores obcaecati possimus laborum minima!
                    </p>
                </details>
            </div>

        </div>
{{ content | safe }} #}