

.title_shadow {
	font-weight: 100;
	font-family: var(--font-family-1);
	/* position: absolute;
	bottom:-32px;
	left:40%; */
	color: #bbbbbb;
	font-size: 1rem;
	display: block;
	text-align: right;

}


.title_section-space,
.title_section {
	display: block;
	width: 100%;
	text-align: right;
	font-size: 32px;
	line-height: 1;
	font-family: var(--font-family-2);
	text-transform: uppercase;
	color: var(--color-primary)
}

.title_section {
	justify-content: center;
}

.title_section-space {
	justify-content: space-between;
}

@media(min-width:1024px) {
	.title_section-space,
.title_section {
	display: flex;
}

	.title_section-space,
	.title_section {
		font-size: 72px;
	}
}

.title_section-space svg,
.title_section svg {
	min-width: 64px;
	min-height: 64px;
}





[class*='headbase'] {
	display: inline-flex;
	outline: 0;
	border: 0;
	height: 2.6px;
	width: 98px;
	margin: 0;
	padding: 0;
	margin-top: 32px;
	margin-bottom: 32px;
	/* border-radius: 50%; */
}

[class*='headbase'][class*='center'] {
margin: auto;
text-align: center;
align-self: center;
}

[class*='headbase'][class*='small'] {
	margin-top: 0px;
	margin-bottom: 32px;
}

[class*='headbase'][class*='_primary'] {
	background: var(--color-primary);
}

[class*='headbase'][class*='_white'] {
	background: var(--color-white);
}

[class*='headbase'][class*='_black'] {
	background: var(--color-black);
}

@media(min-width:768px) {
	[class*='headbase'] {
		margin-top: 48px;
		margin-bottom: 32px;
	}
}




.title_headline {
	font-size: 24px;
	font-family: var(--font-family-2);
	text-transform: uppercase;
	line-height: 1;

}

.title_subheadline {
	font-size: 24px;
	font-family: var(--font-family-2);
	text-transform: uppercase;
	line-height: 1;
}


.title_heading {
	font-size: 24px;
	font-family: var(--font-family-2);
	text-transform: uppercase;
	line-height: 1;

}

.title_subheading {
	font-size: 24px;
	font-family: var(--font-family-3);
	text-transform: capitalize;
	line-height: 1;


}

.fontSize-responsive {
	font-size: 17px;
}

@media(min-width:1024px) {

	/*FONT*/

	.fontSize-responsive {
		font-size: 3vw;
	}

	.fontSize-small {
		font-size: 14.5px;
	}

	.fontSize-medium {
		font-size: 1.1rem
	}

	.fontSize-large {
		font-size: 2.2rem;
	}

	.font_family-primary {
		font-family: var(--font-family-1);
	}

	.font_family-secondary {
		font-family: var(--font-family-2);
	}

	.font_family-tertiary {
		font-family: var(--font-family-3);
	}

	/*TITLE*/

	.title_headline {
		font-size: 32px;
	}

	.title_subheadline {
		font-size: 19px;
	}


	.title_heading {
		font-size: 56px;
	}

	.title_subheading {
		font-size: 24px;

	}

	.title_size-small {
		font-size: 16px;
	}

	.title_size-medium {
		font-size: 32px;
	}

	.title_size-large {
		font-size: 48px;
	}

	.title_size-huge {
		font-size: 64px;
	}

	.title_font-primary {
		font-family: var(--font-family-1);
	}

	.title_font-secondary {
		font-family: var(--font-family-2);
	}

	.title_font-tertiary {
		font-family: var(--font-family-3);
	}


	.title_lineheight-small {
		line-height: 1;
	}

	.title_lineheight-medium {
		line-height: 1.2;
	}

	.title_lineheight-normal {
		line-height: 1.6;
	}

	.title_lineheight-large {
		line-height: 2;
	}

}

.line-height-1 {
	line-height: 1;
}

.line-height-2 {
	line-height: 1.6;
}

.line-height-3 {
	line-height: 2;
}

.line-height-4 {
	line-height: 2.4;
}

.line-height-5 {
	line-height: 2.6;
}



