<div class="button-component">
    <span>
        <span class="callout-right" style="font-size:3rem;margin-right:8px;">👉</span>
    </span>
    <a 
        id="buttonSale"
        onclick="handlePromoURL()"
        href="{{ buttonPromoURL }}" 
        class="button {{ buttonClass }}"
        rel="nofollow noopener sponsored"
        target="_blank"
    >
        {{ buttonPromoURLText }}
        <svg fill="{{ buttonIconColor }}" style="margin-left:8px" width="32px" height="32px">
            <use href="/icons/essentials.svg#icon-ytube"></use>
        </svg>
    </a>
    <span>
        <span class="callout-left" style="font-size:3rem;margin-left:8px;">👈</span>
    </span>
</div>