{% extends 'layouts/theme.njk' %}
{% set pageType = 'Page' %}
{% block content %}
    <section>

      <div class="D(flex) Fp(wrap) Mxw(1024x)">
        <div class="F(colspan)">
          <article>
            {{ content | safe }}
            {# {% markdown '/src/_includes/page/phylosophy/phylosophy.md' %} #}
            {# {% markdown '/src/_includes/page/phylosophy/whos-atomic-css-for.md' %} #}
          <article>
        </div>

        <div class="F(column)">
          <nav class="P(1m)" style="position:sticky;top:0;" aria-label="Secondary Menu"> 
            <h3>Table of Content</h3>
            <ul>
            {% for phylosophy in indexing.phylosophy %}
                <li>
                    <a class="Fs(14x)"
                    href="{{ phylosophy.url }}"}>{{ phylosophy.text }}</a>
                </li>
            {% endfor %}
            </ul>
          </nav>
        </div>

      </div>
    </section>
{% include "./assets.njk" %} 
{% endblock %}
